/************************ Customizer CSS  ***********************/

.customize-control .divider-section {
    padding: 10px 10px; 
    background: #032a47;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgb(3, 42, 71), 0 6px 20px 0 rgba(3, 42, 71, 0);
}