.content-wrappper{
    padding-left: 10px;
}

.mt-meta-right-part img.upload_image_screenshort {
    float: left;
    clear: both;
    margin-bottom: 10px;
    width: 150px;
}

.mt-meta-right-part .add-more-wrap img.upload_image_screenshort{
    width: 100%;
}

.mt-meta-left-part { 
    display: inline-block; 
    font-weight: bold; 
    padding: 20px 10px 20px 0; 
    width: 30%; 
    box-sizing: border-box;
    vertical-align: middle;
}
.mt-meta-left-part .description { 
    font-weight: normal; 
    color: #868686; 
    display: block; 
    font-style: normal;
}
.mt-meta-right-part { 
    width: 50%;  
    padding: 20px 0 0;
    line-height: 30px; 
    display: inline-block;
    vertical-align: middle;
}
.mt-meta-right-part textarea, .mt-meta-right-part input[type="text"] { 
    width: 80%; 
}

.mttheme-meta-accordion h3 {
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #ededed !important;
    background-color: #fff;
    margin: 0 0 10px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #232323 !important;
    padding: 13px 60px 15px 25px !important;
    position: relative;
    line-height: normal !important;
}

.mttheme-meta-accordion h3::after {
    top: 8px;
    font-size: 19px;
    position: absolute;
    right: 15px;
    line-height: normal;
    content: "+";
}

.mttheme-meta-accordion h3.ui-state-active::after {
    top: 8px;
    font-size: 19px;
    position: absolute;
    right: 15px;
    line-height: normal;
    content: "-";
}

.mttheme_separator_box .content-wrappper{
    padding: 15px;
    background: #fff;
}

.mttheme-remove-tab {
    float: right;
    text-decoration: none;
    color:#000000;
    line-height: 21px;
}

.mt-meta-right-part .add-more-wrap {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ededed;
    box-shadow: 0px 0px 13px 0px #2323234a;
}

.mt-meta-right-part .add-more-wrap input[type="text"] {
    margin-bottom: 15px;
    width: 100%;
}

.mt-meta-right-part .add-more-wrap .remove_field_button {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    color: #ef521d !important;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 26px;
    padding: 0 10px 1px;
    text-decoration: none;
    white-space: nowrap;
    float: right;
}

.mt-meta-right-part .add-more-wrap .button {
    margin-right: 10px;
    float: none;
}

.mt-meta-right-part .multiple_images {
    text-align: left;
}

.mt-meta-right-part .multiple_images>div {
    display: inline-block;
    width: 100px;
    margin: 0 30px 30px 0;
    text-align: center;
}

.mt-meta-right-part .multiple_images .remove,
.mt-meta-right-part .add-custom-text-box li .remove-text-box {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    color: #ef521d !important;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 26px;
    margin: 6px 0 0 0;
    padding: 0 10px 1px;
    text-decoration: none;
    white-space: nowrap;
}

.mt-meta-right-part .multiple_images .remove:hover,
.mt-meta-right-part .add-custom-text-box li .remove-text-box:hover {
    background-color: #fafafa;
    border-color: #999;
}

.mt-meta-right-part .upload_field{
    float: left;
    font-size: 12px;
    width: 320px;
    margin-bottom: 10px;
}

.mt-meta-right-part .mtaddons_upload_button {
    float: left;
    clear: both;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 26px;
    margin: 0 10px 0 0;
    padding: 0 10px 1px;
    text-decoration: none;
    white-space: nowrap;
    background: #f7f7f7 none repeat scroll 0 0;
    box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
    color: #555;
    vertical-align: top;
}

.mt-meta-right-part .mtaddons_remove_button {
    float: left;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    color: #ef521d !important;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 26px;
    padding: 0 10px 1px;
    text-decoration: none;
    white-space: nowrap;
}