@mixin background($imgpath,$position:0 0,$repeat: no-repeat,$size: contain) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: $size;
    }
}