@mixin justify-content($justify-content: inherit) {
    justify-content: $justify-content;
}

@mixin align-items($align-items: inherit) {
    align-items: $align-items;
}

@mixin flex-direction($flex-direction: inherit) {
    flex-direction: $flex-direction;
}

@mixin flex-wrap($flex-wrap: inherit) {
    flex-wrap: $flex-wrap;
}