@mixin placeholder {
    &::-webkit-input-placeholder    {@content;}
    &:-moz-placeholder              {@content;}
    &::-moz-placeholder             {@content;}
    &:-ms-input-placeholder         {@content;}  
}

@mixin appearance($appearance: inherit) {
    -webkit-appearance: $appearance;
    -moz-appearance:    $appearance;
    appearance:         $appearance;
}