@mixin width($width: auto) {
    width: $width;
}

@mixin max-width($max-width: inherit) {
    max-width: $max-width;
}

@mixin min-width($min-width: inherit) {
    min-width: $min-width;
}

@mixin height($height: auto) {
    height: $height;
}

@mixin max-height($max-height: inherit) {
    max-height: $max-height;
}

@mixin min-height($min-height: inherit) {
    min-height: $min-height;
}