@mixin text-transform($text-transform: inherit) {
    text-transform: $text-transform;
}

@mixin text-align($text-align: left) {
    text-align: $text-align;
}

@mixin font-style($font-style: inherit) {
    font-style: $font-style;
}

@mixin font-weight($font-weight: 400) {
    font-weight: $font-weight;
}