.advance-search {
    background-color: $primary-dark;
    margin-top: $g-10 * 7;
    padding: 50px 0 40px;

    @media #{$media-sm} {
        padding: 20px 0 5px;
        margin-top: $g-10 * 3;
    }

    .property-search-form {
        .form-group {
            flex-direction: column;
            align-items: flex-start;

            label {
                @include font-size($m-font-size);
                @include text-transform(uppercase);
                color: $white;
                line-height: 1;
                margin-bottom: $g-10;
            }

            .form-control {
                border: $border-width solid $gray-300;
                border-radius: 0;
                height: 46px;
                background-color: $white;
                color: $primary;
                padding: 0 12px;
                @include font-size($m-font-size);
                background-clip: unset;

                @include placeholder {
                    color: $primary;
                }
            }
            select::-ms-expand {
                display: none;
            }
            select {
                &.form-control {
                    @include appearance(none);
                    @include background('../images/svg/select-down-arrow.svg', $position:calc(100% - 12px) 14px, $repeat: no-repeat, $size: 11px auto);
                }
            }

            .btn {
                height: 46px;
                line-height: 42px;
            }
        }
    }
}