.banner-slider-style-1 {
    .swiper-slide {
        @include min-height(930px);
        background-size: cover;
        background-repeat: no-repeat;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        @include position(relative);

        @media #{$media-xl} {
            @include min-height(680px);
        }

        @media #{$media-lg} {
            @include min-height(560px);
        }

        @media #{$media-xs} {
            @include min-height(460px);
        }

        &::before {
            content: "";
            @include position(absolute);
            left: 0;
            top: 0;
            @include width(100%);
            @include height(100%);
            background-color: rgba($primary, .9);
        }

        .slider-detail {

            @media #{$media-lg} {
                padding-top: $g-10 * 4;
            }

            .slide-title {
                @include font-size($display1-size);
                line-height: 1.2;
                color: $white;
                font-family: $font-family-serif;
                @include font-weight($font-weight-bold);
                padding-bottom: 30px;
                border-left: 1px solid $dark-yellow;
                padding-left: 30px;

                @media #{$media-xl} {
                    @include font-size($display2-size);                
                }

                @media #{$media-lg} {
                    @include font-size($display3-size);                
                }

                @media #{$media-sm} {
                    @include font-size($display4-size);                
                }

                @media #{$media-xs} {
                    @include font-size($h4-font-size);                
                }
            }

            .slide-email-info {
                @include display(inline-block);
                margin-left: 40px;

                @media #{$media-lg} {
                    margin-left: 20px;
                }

                @media #{$media-xs} {
                    @include display(block);
                    margin-left: 30px;
                    margin-top: 15px;
                }

                a {
                    @include font-size($h6-font-size);
                    color: $white;
                    @include font-weight($font-weight-normal);

                    @media #{$media-lg} {
                        @include font-size($l-font-size);
                    }

                    @media #{$media-xs} {
                        @include font-size($m-font-size);
                    }

                    &:hover {
                        color: $dark-yellow;
                    }
                }

                i {
                    margin-right: 20px;
                    
                    @media #{$media-lg} {
                        margin-right: 5px;
                    }
                }
            }
            .slide-button {
                @include display(inline-block);
                margin-left: 30px;
               
            }
        }
    }
}
.navigation-wrapper {
    @include position(absolute);
    bottom: 53px;
    z-index: 1;
    right: 8%;
    @include max-width(220px);
    @include width(100%);
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);

    @media #{$media-lg} {
        bottom: 35px;
        right: 4%;
        @include max-width(200px);
    }
    @media #{$media-md} {
        bottom: 25px;
        @include max-width(140px);
    }
    
    &::before {
        content: "";
        @include position(absolute);
        @include font-weight(100);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(30deg);
        @include height(81px);
        @include width(1px);
        background: $gray-600;
        opacity: .2;
        
        @media #{$media-md} {
            @include height(40px);
        }
    }
    .mtelements-swiper-button {
        &.mtelements-prev-arrowacf075b {
            @include max-width(80px);
            @include width(100%);
            @media #{$media-md} {
                @include max-width(50px);
            }
        }
        &.mtelements-next-arrowacf075b {
            @include max-width(80px);
            @include width(100%);
            @media #{$media-md} {
                @include max-width(50px);
            }
        }
    }
}
