
.blog.post{
    margin-bottom: 25px;
    box-shadow: 0px 0px 38px 0px rgba(217, 220, 232, 0.50);
    &.sticky{
    	.blog-detail{
    		background-color: $primary;	
    		.blog-title{
    			a{
    				color: $white;
    			}
    		}

    		.blog-author{
    			.left{
    				.author-content{
    					.author-name{
    						color: $white;

    					}
    					.author-designation{
    						color: $dark-yellow;
    					}
    				}
    			}
    			.right{
    				.release-date{
    					color: $white;
    				}
    			}
    		}
    		.read-more-btn{
    			.btn.btn-link{
    				background-color:$dark-yellow;
    			}
    		}
    	}
    }
    .blog-category{
        .blog-image{
            @include height(300px);
            overflow: hidden;
            img{
                @include width(100%);
                @include height(100%);
                object-fit: cover;
            }
        }
    }
    .blog-detail{
        padding: 30px 25px 0px 25px;
        background-color: $white;
        @include position(relative);
        border-bottom:5px solid $dark-yellow;
        overflow: hidden;
        @include min-height(300px);
    	padding: 20px 20px 80px 20px;
        @media #{$media-xl} {
            @include min-height(200px);
        }
        @media #{$media-sm} {
            padding: 20px 15px 0px 15px;
        }
        .blog-categories{
            a{
                background: #fbf6f3;
                padding: 3px 12px;
                @include text-transform(uppercase);
                color: $dark-yellow;
                border-radius: 3px;
                letter-spacing: 0.2px;
                @include font-weight(bold);
                @include font-size($xs-font-size);
                margin: 0 10px 0 0;
                @include hover-focus() {
                    text-decoration: none;
                }
                @media #{$media-xl} {
                    padding: 3px 8px;
                }
            }
        }
        .blog-title{
            margin: 15px 0 25px 0;
            word-break: break-word;
            @media #{$media-xl} {
                margin: 7px 0 12px 0;
            }
            a{
                @include font-size($h6-font-size);

                @include hover-focus() {
                    text-decoration: none;
                }
                @media #{$media-sm} {
                    @include font-size($l-font-size);
                }
            }
        }
        .blog-author{
            @include display(flex);
            @include flex-wrap(wrap);
            @include position(absolute);
            padding: 35px 0 20px 0;
		    bottom: 0;
		    width: calc(100% - 40px);
		    left: 20px;
		    right: 0;
            @media #{$media-xl} {
                padding: 20px 0 15px 0;
            }
            &:after{
                @include position(absolute);
                @include width(45px);
                @include height(2px);
                background-color: #e0e0e0;
                content: "";
                left: 0;
                top: 0;
            }
            .left{
                @include display(flex);
                @include align-items(center);
                .author-image{
                    img{
                        border-radius: 50rem;
                        @include width(45px);
                        @include height(45px);
                        @media #{$media-xl} {
                            @include width(35px);
                            @include height(35px);
                        }
                    }
                }
                .author-content{
                    .author-name{
                        margin-left: $g-10;
                        @include font-size($h6-font-size);
                        font-family: $font-family-serif;
                        color: $primary;
                        @include font-weight(600);
                        line-height: 1;
                        @media #{$media-xl} {
                            @include font-size($s-font-size);
                            margin-top: 5px;
                            margin-left: 7px;
                        }
                    }
                    .author-designation{
                        margin-left: $g-10;
                        @include font-size(17);
                        color: rgba($primary, .5);
                        @media #{$media-xl} {
                            @include font-size($s-font-size);
                            margin-left: 7px;
                        }
                    }
                }
            }
            .right{ 
                margin-left: auto;
                margin-top: auto;
                .release-date{
                    @include font-weight($font-weight-bold);
                    @include text-transform(uppercase);
                    @include font-size($xs-font-size);
                    text-align: right;
                	@media #{$media-xl} {
                        @include font-size(11px);
                    }
                }
            }
        }
        .read-more-btn{
            @include position(absolute);
            bottom: -5px;
            left: 0;
            right: 0;
            @include width(100%);
            text-align: center;
            transition: $medium-transition;
            transform: translateY(100%);
            -moz-transform: translateY(100%);
            -webkit-transform: translateY(100%);
            -o-transform: translateY(100%);
            .btn {
                &.btn-link {
                    @include text-transform(uppercase);
                    @include font-size($s-font-size);
                    @include font-weight($font-weight-bold);
                    background-color:$primary;
                    padding: 24px 0;
                    text-decoration: none;
                    @include width(100%);
                    @include height(70px);
                    line-height: 22px;
                    color: $white;
                    @include background('../images/svg/right-arrow-white.svg', $position:calc(100% - 35px) center, $size: 45px auto); 
                    @include hover-focus() {
                        color: $white;
                        background-color: $dark-yellow
                    }
                }
            }
        }
    }
    @include hover-focus() {
        .blog-detail{
            .read-more-btn{
                transform: translateY(0%);
                -moz-transform: translateY(0%);
                -webkit-transform: translateY(0%);
                -o-transform: translateY(0%);
            }
        }
    }
}

.blog.property {
    @extend .post;
}
.blog.page{
	@extend .post;
}