.blog-detail-inner{
    padding: 100px;
    border-left: 1px solid $gray-200;
    border-right: 1px solid $gray-200;
    @include position(relative);
    @include width(100%);
    &:after{
        content: "";
        @include position(absolute);
        @include width(1px);
        @include height(40%);
        background-color: $dark-yellow;
        left: -1px;
        top: 100px;
        @media #{$media-xl} {
            top: 35px;
        }
        @media #{$media-md} {
            top: 25px;
        }
        @media #{$media-sm} {
            top: 15px;
        }
    }
    @media #{$media-xl} {
        padding: 35px;
    }
    @media #{$media-md} {
        padding: 25px;
    }
    @media #{$media-sm} {
        padding: 15px;
    }
    .entry-content{
        .post-title{
            h3{
                color: $primary;
                margin-bottom: 30px;
                line-height: 1.3;
                @include font-size($h3-font-size);
                @media #{$media-md} {
                    @include font-size($h5-font-size);
                }
            }
        }
        .post-content{
            h4{
                line-height: 1.4;
                @media #{$media-md} {
                    @include font-size($h6-font-size);
                }
            }
            p{
                margin-bottom: 50px;
                line-height: 1.5;
                &:last-child{
                    margin-bottom: 0;
                }
                @media #{$media-xl} {
                   margin-bottom: 30px; 
                }
                @media #{$media-md} {
                   margin-bottom: 15px; 
                }
            }
        }
    }
}
.auther-are {
    .left{
        @include display(flex);
        @include align-items(center);
        .blog-author{
            @include display(flex);
            @include flex-wrap(wrap);
            @include position(relative);
            padding: 0;
            @media #{$media-xl} {
                padding: 0;
            }
            .author-image{
                img{
                    border-radius: 50rem;
                    @include width(45px);
                    @include height(45px);
                    @media #{$media-xl} {
                        @include width(35px);
                        @include height(35px);
                    }
                }
            }
            .author-content{
                .author-name{
                    margin-left: $g-10;
                    @include font-size($h6-font-size);
                    font-family: $font-family-serif;
                    color: $primary;
                    @include font-weight($font-weight-bold);
                    line-height: 1.25;
                    @media #{$media-xl} {
                        @include font-size($m-font-size);
                        margin-top: 0px;
                        margin-left: 7px;
                    }
                }
                .author-designation{
                    margin-left: $g-10;
                    font-size: 17px;
                    color: rgba($primary, .5);
                    @media #{$media-xl} {
                        @include font-size($s-font-size);
                        margin-left: 7px;
                    }
                }
            }
        }
    }
    .right{ 
        margin-left: auto;
        margin-top: 0;
        @media #{$media-sm} {
            margin-left: 0;
            margin-top: 15px;
        }
        .blog-categories{
            margin: 0 20px 0 0;
            @media #{$media-xl} {
                margin: 0 8px 0 0;
            }
            a{
                background: #fbf6f3;
                padding: 3px 12px;
                @include text-transform(uppercase);
                color: $dark-yellow;
                border-radius: 3px;
                letter-spacing: 0.2px;
                @include font-weight($font-weight-bold);
                @include font-size($xs-font-size);
                margin: 0 5px 0 0;
                @include hover-focus() {
                    text-decoration: none;
                }
                @media #{$media-xl} {
                    padding: 3px 8px;
                }
            }
        }
        .release-date{
            @include font-weight($font-weight-bold);
            @include text-transform(uppercase);
            @include font-size($s-font-size);
            text-align: right;
        }
    }
}
.single-post-image.blog-detail-img {
    padding: 150px 0 0 0;
    background-color: $primary;
    @media #{$media-sm} {
        padding: 75px 0 0 0;
    }
    @media #{$media-md} {
        padding: 90px 0 0 0;
    }
    @media #{$media-xl} {

    }
    .image-wrapper{
        @include height(700px);
        overflow: hidden;
        @media #{$media-md} {
            @include height(600px);
        }
        @media #{$media-md} {
            @include height(500px);
        }
        @media #{$media-sm} {
            @include height(300px);
        }
        @media #{$media-xs} {
            @include height(200px);
        }
        img{
            @include width(100%);
            @include height(auto);
        }
    }
}
.related_post_slider_main{
    .related_post_slider_box{
        @include height(510px);
        @include position(relative);
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
        background-color: #FAF6F3;
        &:after{
            display: none;
        }
        @media #{$media-xl}{
            @include height(400px);
            padding-top: 50px;
        }
        @media #{$media-md}{
            @include height(320px);
            padding-top: 50px;
        }
        @media #{$media-sm} {
            @include height(200px);
        }
        .post-title.container {
            margin-left: 285px;
            width: calc(100% - 285px);
            padding: 0;
            @media #{$media-xl} {
                margin-left: 180px;
                width: calc(100% - 180px);
            }
            @media #{$media-sm} {
                margin-left: 0;
                width: calc(100% - 0px);
                padding: 0 120px 0 15px;
            }
        }
        .post-title{
            h3{
                color: $primary;
                @include font-size(3rem);
                @media #{$media-md} {
                    @include font-size(2rem);
                }
                @media #{$media-sm} {
                    @include font-size(1.6rem);
                }
            }
        }
    }
    .for-control{
        @include position(relative);
        .related-slider-controler {
            @include height(200px);
            @include position(absolute);
            @include width(285px);
            left: 0;
            background: #faf6f3;
            top: 36px;
            z-index: 1;
            &:before{
                content: "";
                @include position(absolute);
                @include font-weight(100);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(30deg);
                @include height(81px);
                @include width(1px);
                background: #8b9fb2;
                opacity: 0.2;
                @media #{$media-xl}{
                    @include height(50px);    
                }
            }
            @media #{$media-xl}{
                @include width(180px);    
            }
            @media #{$media-md} {
                @include height(150px);
            }
            @media #{$media-sm} {
                @include height(20px);
                @include position(absolute);
                @include width(100px);
                left: auto;
                top: -50px;
                z-index: 1;
                right: 10px;
            }
            .related-post-prev, .related-post-next{
                background-color: transparent;
                background-repeat: no-repeat;
                opacity: 0.5;
                @include width(60px);
                @include height(22px);
                top: 0;
                bottom: 0;
                margin: auto;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                &.swiper-button-disabled{
                    opacity: .3;
                }
                @media #{$media-xl}{
                    @include width(45px);
                }
                @media #{$media-sm} {
                    @include width(36px);
                    @include height(15px);
                }
            }
            .related-post-prev{
                @include background('../images/svg/left-arrow-blue.svg', $position:center, $size: 100%); 
                -webkit-transform: scaleY(-1);
                transform: scaleY(-1);
                left: 50px;
                @media #{$media-xl}{
                    left: 20px;
                }
                @media #{$media-sm} {
                    left: 0px;
                }
            }
            .related-post-next{
                @include background('../images/svg/right-arrow-blue.svg', $position:center, $size: 100%); 
                right: 50px;
                @media #{$media-xl}{
                    right: 20px;
                }
                @media #{$media-sm} {
                    right: 0px;
                }
            }
        }
    }
    .related-post-slider{
        margin-bottom: 100px;
        margin-top: -300px;
        padding-left: 0;
        margin-left: 285px;
        @media #{$media-xl}{
            margin-left: 180px;
            margin-top: -250px;
        }
        @media #{$media-md}{
            margin-top: -200px;
        }
        @media #{$media-sm} {
            margin-left: 15px;
            margin-bottom: 10px;
            margin-top: -90px;
            width: calc(100% - 30px);
        }
        .swiper-slide {
            padding: 0px;
            .blog{
                .blog-image{
                    @include height(300px);
                    @media #{$media-xl}{
                        @include height(250px);
                    }
                    @media #{$media-md}{
                        @include height(200px);
                    }
                    @media #{$media-sm}{
                        @include height(150px);
                    }
                    img{
                        @include width(100%);
                        @include height(100%);
                        object-fit: cover;
                        -moz-object-fit: cover;
                    }    
                }
                .blog-detail{
                    @include min-height(300px);
                    @media #{$media-xl}{
                        @include min-height(250px);
                    }
                    @media #{$media-md}{
                        @include min-height(220px);
                    }
                }
            }
        }   
    }
}
.comment-box{
    background-color: #F3F5F9;
    padding: 80px 0;
    margin-bottom: 50px;
    margin-top: 50px; 
    @include position(relative);
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    @media #{$media-md} {
       padding: 0px; 
       padding: 30px 0;
    }
    .comment-title{
        @include font-size($h5-font-size);
        line-height: 1;
        font-family: $font-family-serif;
        margin-bottom: $g-30;
        color: $primary;
        @include font-weight($font-weight-bold);
        padding: 0 35px;
        @media #{$media-md} {
           padding: 0px; 
           @include font-size($l-font-size);
        }
    }
    .comment-respond {
        @include width(100%);
        padding: 0 50px;
        @media #{$media-md} {
           padding: 0 15px; 
        }
        .reply-comment-title{
            .comment-title{
                padding: 0;
            }    
        }
        .comment-form {
            @include display(flex);
            @include flex-wrap(wrap);
            margin-right: -15px;
            margin-left: -15px;
            margin-top: 15px;
            margin-bottom: 15px;
            p.comment-form-cookies-consent {
                padding: 0 15px;
                @include width(100%);
                text-align: left;
                @include display(flex);
                input[type="checkbox"]{
                    @include height(auto);
                    margin: 7px 5px 0px 0;
                }
            }
        }
    }
    .blog-comment{
        list-style: none;
        padding:0;
        @include width(100%);
        padding: 0 35px;
        @media #{$media-md} {
           padding: 0px; 
        }
        .comment{
            margin: 0 0 30px 0;
            border-bottom: 1px solid rgba($primary, 0.1) ;
            padding: 0 0 30px 0;
            .comment-respond{
                margin-top: 30px;
                padding: 0; 
            }
            .comment-author-wrapper{
                @include display(flex);
                @include flex-wrap(wrap);
                @include position(relative);
                padding: 0;
                @media #{$media-md} {
                    padding: 0;
                }
                .comment-image-box{
                    img{
                        border-radius: 50rem;
                        @include width(45px);
                        @include height(45px);
                        @media #{$media-xl} {
                            @include width(35px);
                            @include height(35px);
                        }
                    }
                }
                .comment-text-box{
                    margin: 0 0 0 15px;
                    width: calc(100% - 70px);
                    @include position(relative);
                    
                    @media #{$media-md} {
                        width: calc(100% - 50px);
                    }
                    .comment-title-edit-link{
                        padding-right: 60px;
                        margin-bottom: 15px;
                        
                        a{
                            @include font-size($l-font-size);
                            line-height: 1;
                            font-family: $font-family-serif;
                            margin-bottom: $g-10;
                            color: $primary;
                            @include font-weight($font-weight-bold);
                            @include text-transform(capitalize);
                            @include hover-focus() {
                                text-decoration: none;
                            }
                            @media #{$media-md} {
                                @include font-size($m-font-size);
                            }
                        }
                        .comment-edit-link{
                            font-family: $font-family-base;
                            @include text-transform(uppercase);
                            color: $primary;
                            @include font-size($s-font-size);
                            @include hover-focus() {
                                text-decoration: none;
                                color: $dark-yellow;
                            }
                            @media #{$media-sm} {
                                @include font-size($xs-font-size);
                            }
                        }
                    }
                    .comments-date{
                        @include font-size($s-font-size);
                        opacity: 0.8;
                        @media #{$media-md} {
                            @include font-size($xs-font-size);
                        }
                    }
                    .comment-reply-link{
                        @include position(absolute);
                        right: 0;
                        top: 0px;
                        @include text-transform(uppercase);
                        background-color: $primary;
                        color: $white;
                        padding: 2px 10px;
                        border-radius: 3px;
                        @include font-size($s-font-size);
                        @include hover-focus() {
                            text-decoration: none;
                            background-color: $dark-yellow;
                        }
                        @media #{$media-sm} {
                            padding: 2px 6px;
                            @include font-size($xs-font-size);
                        }
                    }
                    .comment-text{
                        p{
                            @include font-size($m-font-size);
                            @media #{$media-md} {
                                @include font-size($s-font-size);
                            }
                            img{
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                        }
                        table{
                            width: 100%;
                            thead{
                                tr{
                                    td, th{
                                        border: 1px solid $gray-300;
                                        padding: 10px;
                                    }
                                }
                            }
                            tbody{
                                tr{
                                    td, th{
                                        border: 1px solid $gray-300;
                                        padding: 10px;
                                        a{
                                            color: $primary;
                                            @include hover-focus() {
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .comment-awaiting-moderation {
                    @include width(100%);
                    margin: 10px 0 0 0;
                    padding: 0 0 0 50px;
                }
            }
            .children{
                padding: 0 0 0 60px;
                list-style: none;
                margin: 30px 0 0 0;
                @media #{$media-md} {
                    padding: 0 0 0 35px;
                }
                .comment{
                    &:last-child{
                        border: 0;
                        margin: 0;
                        padding: 0; 
                    }
                }
            }
            code {
                background-color: #111;
                color: $dark-yellow;
                padding: 15px;
                @include width(100%);
                margin-top: 10px;
                margin-bottom: 10px;
                @include display(block);
            }
        }
    }
}