.btn {
    font-family: $font-family-base;
    @include font-size($h6-font-size);
    @include font-weight($font-weight-bold);
    @include position(relative);
    @include height(65px);
    @include display(inline-block);
    line-height: 62px;
    transition: $medium-transition;
    padding: 0 40px;
    border-radius: 0;

    @include hover-focus() {
        box-shadow: none;
    }

    @media #{$media-lg} {
        padding: 0 15px;
    }

    @media #{$media-sm} {
        @include height(45px);
        line-height: 42px;
        @include font-size($l-font-size);
    }

    //btn-warning Style
    &.btn-warning {
        color: $white;
    }

    // btn-1 Style
    &.btn-1 {
        color: $primary;
        padding: 0 100px 0 50px;
        @include background('../images/svg/right-arrow-blue.svg', $position:calc(100% - 35px) center, $size: 45px auto); 

        @media #{$media-sm} {
            @include font-size($m-font-size);
            padding: 0 80px 0 30px;
            background-position: calc(100% - 20px) center;
        }
    
        &::before {
            content: "";
            @include size(32px, 100%);
            border: 2px solid $dark-yellow;
            @include position(absolute);
            left: 0;
            top: 0;
            z-index: 0;
            transition: $basic-transition;

            @media #{$media-sm} {
                @include width(20px);
            }
        }
    
        @include hover() {
            color: $dark-yellow;
            @include background('../images/svg/right-arrow-warning.svg', $position:calc(100% - 35px) center, $size: 45px auto); 

            @media #{$media-sm} {
                background-position: calc(100% - 20px) center;
            }
    
            &::before {
                @include width(100%);
            }
        }
    
        span {
            @include position(relative);
            z-index: 1;
        }

        &.btn-white {
            color: $white;
            @include background('../images/svg/right-arrow-white.svg', $position:calc(100% - 35px) center, $size: 45px auto); 

            @media #{$media-sm} {
                background-position: calc(100% - 20px) center;
                background-size: 35px auto;
            }
        }
    }

    
    // btn-2 Style
    &.btn-2 {
        padding: 0 65px 0 0;
        color: $primary;
        @include background('../images/svg/right-arrow-blue.svg', $position:100% center, $size: 45px auto); 
        
        @include hover() {
            padding: 0 75px 0 0;
        }
    }

    // btn-3 Style
    &.btn-3 {
        border-radius: 0;
        color: $white;
        background-color: transparent;

        @media #{$media-sm} {
            padding: 0 20px;
        }
        
        span {
            @include position(relative);
            z-index: 1;
        }
    
        &::after {
            content: "";
            @include position(absolute);
            z-index: 0;
            transition: $medium-transition;
            @include width(0);
            @include height(100%);
            top: 0;
            left: 0;
        }

        @include hover() {
            span {
                color: $white;
            }
            &::after {
                @include width(100%);
            }
        }

        &.btn-primary {
            border: 2px solid $primary;

            &::after {
                background-color: $primary;
            }
        }

        &.btn-warning {
            border: 2px solid $warning;

            &::after {
                background-color: $warning;
            }
        }
    }

    // Back Button Style
    &.btn-back {
        @include font-size($m-font-size);
        @include font-weight($font-weight-normal);
        border-radius: 0;
        padding: 0 0 0 60px;
        color: $primary;
        background-color: transparent;
        @include background('../images/svg/left-arrow-blue.svg', $position:25px center, $size: 20px auto); 
        opacity: .5;

        @include hover() {
            @include background('../images/svg/left-arrow-blue.svg', $position:20px center, $size: 20px auto); 
            opacity: 1;
        }
    }
}