.contect-icon {
	@include height(45px);
}

.contact-map{
	@include height(460px);	
	.htmlmarker {
	    @include max-width(290px);
	    background: $primary;
	    text-align: center;
	    padding: 20px 10px;
	    @media #{$media-md} {
	        @include max-width(200px);
	    }
	    img {
    		@include width(150px);
    		@media #{$media-md} {
		        @include max-width(120px);
		    }
		}
	}
	.direction{
		@include max-width(290px);
		background-color: #041e37;
		@media #{$media-md} {
	        @include max-width(200px);
	    }
		.get-direction-link{
			font-family: $font-family-base;
		    @include font-size($m-font-size);
		    @include font-weight($font-weight-bold);
		    @include position(relative);
		    @include height(65px);
		    @include display(inline-block);
		    line-height: 62px;
		    transition: $medium-transition;
		    padding: 0 40px;
		    border-radius: 0;
		    color: $white;
		    @include width(100%);
		    @include text-transform(uppercase);
		    text-align: center;
		    @include hover-focus() {
		        box-shadow: none;
		    }
		    @media #{$media-lg} {
		        padding: 0 15px;
		    }
		    @media #{$media-md} {
		        @include font-size($s-font-size);
		    }
		    @media #{$media-sm} {
		        @include height(45px);
		        line-height: 42px;
		    }
		}
	}
}