// Block Title
%block-title {
    font-family: $font-family-base;
    letter-spacing: -0.25px;
    color: $primary;
}

// Badge Pill
%badge {
    @include position(relative);
    @include font-weight($font-weight-bold);
    padding: 6px 16px 6px 10px;
    margin-right: $g-10 * 2.5;
    border-radius: 4px 0 0 4px;
    @include font-size($s-font-size);
    line-height: 1;
    margin-bottom: $g-10 / 2;

    &::before{
        content: '';
        @include height(6px);
        @include width(6px);
        border-radius: 10px;
        background-color: $white;
        @include position(absolute);          
        right: 0;
        top: 10px;
        z-index: 1;               
    }

    &::after{
        content: "";
        position: absolute;
        right: -26px;
        top: 0;
        border-top: 13px solid transparent;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 13px solid transparent;
    }
}

@each $color, $value in $theme-colors {
    .badge-#{$color} {
        &::after{
            @include badge-border-variant($value);
        }
    }
}

// Badge Pill
%badge-pill {
    @include text-transform(uppercase);
    @include position(relative);
    @include font-weight($font-weight-bold);
    padding: 5px 10px 5px 20px;
    margin-right: $g-10 / 2;
    margin-bottom: $g-10 / 2;

    &::before{
        content: '';
        @include height(7px);
        @include width(7px);
        border-radius: 10px;
        background-color: $white;
        @include position(absolute);          
        left: 8px;
        top: 7px;
        z-index: 1;               
    }
}