.mtelements-feature-box{
    &.feature-box-style-1 {
        .feature-outer {
            @include position(relative);
            margin-bottom: 30px;

            .feature-image-wrap{
                img {
                    @include width(100%);
                    object-fit: cover;
                }
            }
    
            .feature-text {
                @include position(absolute);
                bottom: 0;
                left: 25px;
                background: $white;
                padding: 20px 23px 12px 23px;
                font-family: $font-family-base;
                @include font-size($l-font-size);
                line-height: 1;
                @include min-width(215px);
                z-index: 2;

                @media #{$media-sm} {
                    left: 15px;
                }

                .feature-title {
                    @include font-weight($font-weight-bold);
                    color: $primary;
                    margin-bottom: $g-10 / 2;
                }

                .feature-subtitle {
                    @include font-weight($font-weight-normal);
                    color: rgba($primary, .5);
                }
                
            }
        }        
    }
}