.site-footer {

    .mttheme-footer {
        background-color: $primary;
        padding-top: 150px;
        padding-bottom: 120px;

        @media #{$media-md} {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        @media #{$media-sm} {
            padding-top: 40px;
            padding-bottom: 30px;
        }

        .widget-title {
            @include font-size($h6-font-size);
            line-height: 1;
            color: $white;
            padding-left: 40px;
            font-family: $font-family-serif;
            margin-bottom: 40px;
            border-left: $border-width solid $dark-yellow;

            @media #{$media-sm} {
                padding-left: 20px;
                margin-bottom: 20px;
            }
        }

        
        .menu {
            @include list-unstyled();
            padding-left: 40px;
            margin-bottom: 0;

            @media #{$media-sm} {
                padding-left: 20px;
            }

            li {
                margin-bottom: 20px;
                line-height: 1;

                @media #{$media-sm} {
                    margin-bottom: 10px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
                &.current-menu-item{
                    a{
                        color: #fff;
                    }
                }
                a {
                    color: rgba($white, .5);
                    font-size: 17px;
                    line-height: 1;

                    @include hover-focus() {
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    

        .textwidget {
            p {
                color: rgba($white, .5);
                font-size: 17px;
                line-height: 1;
                padding-left: 40px;

                @media #{$media-sm} {
                    padding-left: 20px;
                }

                i {
                    font-size: 15px;
                    margin-right: 12px;
                }

                a {
                    color: rgba($white, .5);
                    font-size: 17px;
                    line-height: 1;

                    @include hover-focus() {
                        color: $white;
                        text-decoration: none;
                    }
                }
            }

            .social-icon{
                margin-top: 30px;
                padding-left: 40px;

                @media #{$media-sm} {
                    padding-left: 20px;
                }
            }
        }
    }

    .mttheme-footer-bottom {
        padding: 30px 0;

        .footer-bottom-sidebar {
            &.copyright-info {
                .textwidget {
                    @include display(flex);

                    @media #{$media-sm} {
                        @include display(block);
                        @include text-align(center);
                    }

                    p {
                        margin-bottom: 0;
                        @include font-size($xs-font-size);
                        color: $body-color;

                        &:last-child {
                            margin-left: 15px;

                            @media #{$media-sm} {
                                margin-left: 0;
                                margin-top: 15px;
                            }
                        }

                        @media #{$media-sm} {
                            .slash {
                                @include display(none);
                            }
                        }

                        a{
                            @include font-size($xs-font-size);
                            color: $body-color;
                            margin-left: 15px;

                            @media #{$media-sm} {
                                margin-left: 0;
                            }
    
                            @include hover-focus() {
                                color: $primary;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            &.footer-links {
                .menu {
                    @include list-unstyled();
                    @include display(flex);
                    margin: 0;
    
                    li{
                        padding: 0 15px;
                        line-height: 1;

                        &:last-child {
                            padding-right: 0;
                        }
    
                        a{
                            @include font-size($xs-font-size);
                            color: $body-color;
    
                            @include hover-focus() {
                                color: $primary;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }            
        }
    }

}