.form-group {
    margin-bottom: $g-10 * 4;

    @media #{$media-sm} {
        margin-bottom: $g-10 * 3;
    }

}

label {
    @include font-size($l-font-size);
    @include text-transform(uppercase);
    color: $primary;

    @media #{$media-sm} {
        @include font-size($s-font-size);
    }
}

.form-control {
    border: $border-width solid $gray-300;
    border-radius: 0;
    height: 60px;
    background-color: $white;
    color: $primary;
    padding: 0 25px;
    @include font-size($m-font-size);
    background-clip: unset;

    @media #{$media-sm} {
        height: 50px;
        padding: 0 15px;
    }

    @include hover-focus(){
        box-shadow: none;
    }

    @include placeholder {
        color: rgba($primary, .5);
    }
}

select {
    &.form-control {
        @include appearance(none);
        color: rgba($primary, .5);
    }
}

textarea {
    &.form-control {
        padding: 25px;
        @include min-height(160px);
        @include height(160px);
    }
}

// Form Input Number Arrows
input {
    &[type=number] {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

// Contact Form Stylesheet
.contact-form-style-1 {

    .timeslot-control {
        @media #{$media-xs} {
            @include width(100%);
        }

        .form-control {
            @include min-width(250px);
            @include background('../images/svg/select-arrow.svg', $position:calc(100% - 25px) center, $repeat: no-repeat, $size: 10px auto);
            &::-ms-expand {
                display: none;
            }
        }
    }

    select {
        &.form-control {
            @include background('../images/svg/select-down-arrow.svg', $position:calc(100% - 25px) center, $repeat: no-repeat, $size: 10px auto);
        }
    }

    .contact-radio {
        .wpcf7-list-item {
            margin-left: 40px;
            @include position(relative);

            &.first {
                margin-left: 0;
            }

            input[type="radio"] {
                opacity: 0;
                @include position(absolute);
                left: 0;
                top: 0;
                @include width(100%);
                @include height(100%);
                z-index: 1;

                &:checked {
                    &~.wpcf7-list-item-label {
                        &::before{
                            border: $border-width solid $primary;
                        }

                        &::after {
                            background-color: $primary;
                        }
                    }
                }
            }
            .wpcf7-list-item-label {
                color: $primary;
                line-height: 21px;
                vertical-align: top;
                display: inline-block;

                &::before {
                    content: "";
                    width: 21px;
                    height: 21px;
                    display: inline-block;
                    vertical-align: top;
                    background-color: $white;
                    border-radius: 50px;
                    border: $border-width solid $gray-300;
                    margin-right: 6px;
                }

                &::after {
                    content: "";
                    width: 9px;
                    height: 9px;
                    background-color: $white;
                    border-radius: 50px;
                    display: block;
                    position: absolute;
                    left: 6px;
                    top: 6px;
                }
            }
        }
    }

    // Contact Form Loader
    .ajax-loader {
        float: left;
        margin-top: 22px!important;

        @media #{$media-sm} {
            margin-top: 16px!important;
        }
    }
}

// Errors Style
form {
    span {
        &.wpcf7-not-valid-tip{
            @include font-size($s-font-size);
        }
    }
    
    div {
        &.wpcf7-response-output{
            margin: 15px 0 0 0;
            padding: 15px;
            border: 1px solid #b7797f;
            background: #f8d7da;
            color: #b7797f;
        
            &.wpcf7-validation-errors,
            &.wpcf7-acceptance-missing{
                border:1px solid #b7a15c;
                color: #b7a15c;
                background-color: #fff3cd;
            }
        
            &.wpcf7-mail-sent-ok{
                border:1px solid #81b38d;
                color: #81b38d;
                background-color: #d4edda;
            }
        }
    }
}

/*//////comment box///////*/
.page-default-space{
    padding:80px 0;
    @media #{$media-xl} {
        padding:60px 0;
    }
    @media #{$media-md} {
        padding:40px 0;
    }
}