
.gallery {
    h1, h2, h3, h4, h5, h6{
        margin-bottom: 15px;
    }
    .gallery-caption{
        @media #{$media-lg} {
            padding:5px;
        }
    }
    .landscape {
        overflow: hidden;
        word-break: break-all;
    }
}
.gallery-item{
    .gallery-icon{
        img{
            @include max-width(100%);
            @include height(auto);
        }
    }
}


.gallery-columns-1 {
    float: left;
    width: calc(100% + 20px);
    margin: 0 -10px;
    .gallery-item {
        float: left;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        &:nth-child(3n+1) {
            clear: left
        }
        img {
            margin-bottom: 0;
        }
    }
}

.gallery-columns-2 {
    float: left;
    width: calc(100% + 20px);
    margin: 0 -10px;
    .gallery-item {
        float: left;
        width: 50%;
        margin-bottom: 20px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        &:nth-child(2n+1) {
            clear: left
        }
        img {
            margin-bottom: 0;
        }
    }
}

.gallery-columns-3 {
    float: left;
    width: calc(100% + 20px);
    margin: 0 -10px;
    .gallery-item {
        float: left;
        @include width(33.33%);
        margin-bottom: 20px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        &:nth-child(3n+1) {
            clear: left
        }
        img {
            margin-bottom: 0;
        }
    }
}

.gallery-columns-4 {
    float: left;
    width: calc(100% + 20px);
    margin: 0 -10px;
    .gallery-item {
        float: left;
        @include width(25%);
        margin-bottom: 20px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        &:nth-child(4n+1) {
            clear: left
        }
        img {
            margin-bottom: 0;
        }
    }
}

.gallery-columns-5 {
    float: left;
    @include width(100%);
    text-align: center;
    @include display(flex);
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 0 20px 0;
    .gallery-item {
        max-width: calc((100% - 16px * 4) / 5);
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        margin-right: 16px;
        text-align: center;
        &:nth-of-type(5n+5) {
            margin-right: 0;
        }
        img {
            margin-bottom: 0;
        }
    }
}

.gallery-columns-6 {
    float: left;
    @include width(100%);
    text-align: center;
    @include display(flex);
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 0 20px 0;
    .gallery-item {
        max-width: calc((100% - 16px * 5) / 6);
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        margin-right: 16px;
        text-align: center;
        &:nth-of-type(6n+6) {
            margin-right: 0;
        }
        img {
            margin-bottom: 0;
        }
    }
}

.gallery-columns-7 {
    float: left;
    @include width(100%);
    text-align: center;
    @include display(flex);
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 0 20px 0;
    .gallery-item {
        max-width: calc((100% - 16px * 6) / 7);
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        margin-right: 16px;
        text-align: center;
        &:nth-of-type(7n+7) {
            margin-right: 0;
        }
    }
}

.gallery-columns-8 {
    float: left;
    @include width(100%);
    text-align: center;
    @include display(flex);
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 0 20px 0;
    .gallery-item {
        max-width: calc((100% - 16px * 7) / 8);
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        margin-right: 16px;
        text-align: center;
        &:nth-of-type(8n+8) {
            margin-right: 0;
        }
    }
}

.gallery-columns-9 {
    float: left;
    @include width(100%);
    text-align: center;
    @include display(flex);
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 0 20px 0;
    .gallery-item {
        max-width: calc((100% - 16px * 8) / 9);
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        margin-right: 16px;
        text-align: center;
        &:nth-of-type(9n+9) {
            margin-right: 0;
        }
    }
}