header {
    @include width(100%);
    @include display(flex);
    @include position(absolute);
    left: 0;
    z-index: 9;
    top: 0;
    transition: $medium-transition;
    
    @media #{$media-md} {
        background: $primary;
    }

    .top_navbar {
        @include display(flex);
        @include width(100%);
        padding: 30px 0 0;

        @media #{$media-lg} {
            padding: 20px 0 0;
        }

        @media #{$media-md} {
            padding: 10px 0px;
        }

        .navbar-nav {
            @include display(flex);
        
            @media #{$media-md} {
                background-color: $primary;
                @include position(relative);
                z-index: 9;
                height: calc(100vh - 105px);
                @include justify-content(flex-start);
                overflow-y: auto;
                padding-bottom: 50px;
            }
        
            @media #{$media-sm} {
                @include height(calc(100vh - 80px));
                @include display(block);
                padding-bottom: 0;
            }
        
            li {
                @media #{$media-md} {
                    padding: 0 15px;
                    border-bottom: 1px solid rgba($white, 0.2);
                }
        
                &:nth-child(7) {
                    @media #{$media-md} {
                        border-bottom: 0;
                    }
                }
            }
        
            .nav-item {
                @include display(flex);
                padding: 0 30px;

                @media #{$media-xl} {
                    padding: 0 20px;
                }
        
                @media #{$media-lg} {
                    padding: 0 10px;
                }
        
                @media #{$media-md} {
                    padding: 8px 15px;
                    width: 100%;
                }
        
                &:last-child {
                    @media #{$media-md} {
                        padding: 10px 15px;
                    }
                }
        
                .nav-link {
                    font-family: $font-family-base;
                    padding: 0;
                    letter-spacing: 0px;
                    @include font-size($l-font-size);
                    line-height: 1.4;
                    color: $white;
                    @include font-weight($font-weight-bold);

                    @media #{$media-xl} {
                        @include font-size($m-font-size);
                    }
        
                    @media #{$media-md} {
                        font-size: 15px;
                        @include width(100%);
                    }

                    @include hover-focus() {
                        color: $warning;
                    }
                }
        
                &.current-menu-item {
                    .nav-link {
                        color: $warning;
                    }
                }
            }
        }

        .navbar-collapse {
            justify-content: center;
        
            @media #{$media-md} {
                @include position(absolute);
                left: 0;
                top: 90px;
                @include width(100%);
            }
        
            @media #{$media-sm} {
                top: 70px;
            }
        }  

        .navbar-toggler {
            border: none;
            @include position(relative);
            padding: 0;
            @include height(15px);
            @include width(23px);
            &:focus{
                outline: none;
            }
            @media #{$media-md} {
                @include position(absolute);
                right: 0;
                margin: 0;
            }
        
            @media #{$media-sm} {
                top: 23px;
            }
        
            span {
                @include width(23px);
                height: 2px;
                background-color: $white;
                @include position(absolute);
                left: 0;
                right: 0;
                transition: $medium-transition;

                &:nth-child(1){
                    top: 0px;
                }

                &:nth-child(2){
                    top: 6px;
                }

                &:nth-child(3){
                    top: 6px;
                }

                &:nth-child(4){
                    top: 12px;
                }
            }

            &[aria-expanded="true"]{
                span {
                    &:nth-child(1){
                        top: 6px;
                        opacity: 0;
                    }
    
                    &:nth-child(2){
                        transform: rotate(45deg);
                    }
                    
                    &:nth-child(3){
                        transform: rotate(-45deg);
                    }
    
                    &:nth-child(4){
                        top: 6px;
                        opacity: 0;
                    }
                }
            }
        }
    }
    .navbar-brand {
        padding: 0;

        @media #{$media-md} {
            @include max-width(150px);
        }

        img {
            @include width(100%);

            @media #{$media-lg} {
                @include width(130px);
            }

            @media #{$media-sm} {
                @include width(90px);
            }
        }
    }

    .header-sidebar {

        @media #{$media-md} {
            margin-right: 40px;
        }

        @media #{$media-sm} {
            margin-right: 35px;
        }

        .textwidget {
            p {
                @include font-size($xl-font-size);
                color: $white;
                @include font-weight($font-weight-bold);
                @include text-transform(uppercase);
                @include display(inline-block);

                @media #{$media-xl} {
                    @include font-size($m-font-size);
                }

                @media #{$media-sm} {
                    @include font-size($xs-font-size);
                }

                .call-text {
                    @media #{$media-sm}{
                        @include display(none);
                    }
                }

                a {
                    color: $white;
                    @include display(inline-block);
    
                    @media #{$media-md} {
                        padding-left: $g-10;
                    }
    
                    @media #{$media-sm} {
                        padding-left: 6px;
                    }
    
                    @include hover-focus() {
                        text-decoration: none;
                    }
                }
    
                i {
                    margin-right: $g-10;
                    @include position(relative);
                    top: 3px;
    
                    @media #{$media-sm} {
                        margin-right: 0px;
                        @include font-size($xs-font-size);
                        @include position(relative);
                        top: 1px;
                    }
                }
            }
        }
    }
    
    .logo-dark {
        @include display(none);
    }

    &.down-scroll-sticky {
        @include position(fixed);
    }

    // For Sticky Header
    &.sticky {
        background-color: $white;
        box-shadow: 0px 4px 19px 0px rgba(12, 33, 53, 0.07);

        .navbar-brand {
            &.logo-light {
                @include display(none);
            }
    
            &.logo-dark {
                @include display(block);
            }

            img {
                @include width(60px);

                @media #{$media-md} {
                    @include width(40px);
                }

                @media #{$media-sm} {
                    @include width(26px);
                }
            }
        }

        .top_navbar {
            padding: 13px 0;

            .navbar-toggler {
                span {
                    background-color: $primary;
                }
            }

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $primary;

                        @include hover-focus() {
                            color: $warning;
                        }

                        @media #{$media-md} {
                            color: $white;
                        }
                    }

                    &.current-menu-item {
                        .nav-link {
                            color: $warning;
                        }
                    }
                }
            }
        }

        .header-sidebar {
            .textwidget {
                p {
                    color: $primary;

                    a {
                        color: $primary;
                    }
                }
            }
        }
    }

    &.up-scroll-sticky {
        &.sticky {
            @include position(fixed);
        }
    }
}


.header_type_1 {
    @include width(100%);
    @include display(flex);
    @include position(absolute);
    left: 0;
    z-index: 9;
    top: 0;
    transition: $medium-transition;
    
    @media #{$media-md} {
        background: $primary;
    }

    .navbar {
        @include display(flex);
        @include width(100%);
        padding: 30px 0 0;

        @media #{$media-lg} {
            padding: 20px 0 0;
        }

        @media #{$media-md} {
            padding: 10px 0px;
        }
        .site-title{
            a{
                color: $white;
            }
        }
        .navbar-nav {
            @include display(flex);
        
            @media #{$media-md} {
                background-color: $primary;
                @include position(relative);
                z-index: 9;
                height: calc(100vh - 105px);
                @include justify-content(flex-start);
                overflow-y: auto;
                padding-bottom: 50px;
            }
        
            @media #{$media-sm} {
                @include height(calc(100vh - 80px));
                @include display(block);
                padding-bottom: 0;
            }
        
            li {
                @media #{$media-md} {
                    padding: 0 15px;
                    border-bottom: 1px solid rgba($white, 0.2);
                }
        
                &:nth-child(7) {
                    @media #{$media-md} {
                        border-bottom: 0;
                    }
                }
            }
        
            li {
                @include display(flex);
                @include flex-wrap(wrap);
                padding: 0 30px;
                @include position(relative);
                @media #{$media-xl} {
                    padding: 0 20px;
                }
        
                @media #{$media-lg} {
                    padding: 0 15px;
                }
        
                @media #{$media-md} {
                    padding: 8px 10px;
                    width: 100%;
                }
        
                &:last-child {
                    @media #{$media-md} {
                        padding: 10px 15px;
                    }
                }
                
                a {
                    font-family: $font-family-base;
                    padding: 0;
                    letter-spacing: 0px;
                    @include font-size($m-font-size);
                    line-height: 1.4;
                    color: $white;
                    text-transform: capitalize;
                    @include font-weight(normal);
                    line-height: 60px;

                    @media #{$media-xl} {
                        @include font-size($s-font-size);
                    }
        
                    @media #{$media-md} {
                        @include font-size($xs-font-size);
                        @include width(100%);
                        line-height: normal;
                    }

                    @include hover-focus() {
                        color: $warning;
                        text-decoration: none;
                    }
                }
                &.current-menu-ancestor{
                    a{
                        color: $dark-yellow;
                    }
                    .sub-menu{
                        .current-menu-parent{
                            a{
                                color: $dark-yellow;
                            }
                            .sub-menu{
                                .current-menu-item{
                                    a{
                                        color: $dark-yellow;
                                    }
                                }
                                li{
                                    a{
                                        color: $white;
                                        @include hover-focus() {
                                            color: $dark-yellow;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.current-menu-parent{
                    a{
                        color: $dark-yellow;
                    }
                    .sub-menu{
                        .current-menu-item{
                            a{
                                color: $dark-yellow;
                            }
                            .sub-menu{
                                .current-menu-item{
                                    a{
                                        color: $dark-yellow;
                                    }
                                }
                                li{
                                    a{
                                        color: $white;
                                        @include hover-focus() {
                                            color: $dark-yellow;
                                        }
                                    }
                                }  
                            }
                        }
                        li{
                            a{
                                color: $white;
                                @include hover-focus() {
                                    color: $dark-yellow;
                                }
                            }
                        }  
                    }
                }
                &.menu-item-has-children{
                    &:after{
                        content: "";
                        @include position(absolute);
                        @include width(7px);
                        @include height(7px);
                        border: 1px solid $white;
                        border-left: 0;
                        border-top: 0;
                        right: 10px;
                        top: -5px;
                        bottom: 0;
                        margin: auto;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        @media #{$media-xl} {
                            right: 8px;
                        }
                        @media #{$media-lg} {
                            right: 0px;
                        }
                    }
                    .menu-item-has-children{
                        &:after{
                            border: 1px solid $white;
                            border-left: 0;
                            border-top: 0;
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            right: 10px;
                        }
                    }
                }
                ul.sub-menu{
                    @include position(absolute);
                    left: 20px;
                    top: 100%;
                    padding: 15px 0px;
                    @include width(200px);
                    background-color: $primary;
                    box-shadow: 0 0 20px rgba(0,0,0,0.30);
                    visibility: hidden;
                    opacity: 0;
                    @include display(none);
                    transition: $basic-transition;
                    @media #{$media-md} {
                        @include position(relative);
                        @include width(100%);
                        top: 0;
                        left: 20px;
                        box-shadow: none;
                    }
                    li{
                        padding: 5px 20px;
                        @media #{$media-md} {
                            padding: 10px;
                            &:last-child{
                                border:0;
                            }
                        }
                        a{
                            color: $white;
                            line-height: normal;
                            @include hover-focus() {
                                color: $dark-yellow;
                            }
                            @media #{$media-md} {
                                line-height: normal;
                            }
                        }
                        ul.sub-menu{
                            left: 100%;
                            top: 0;
                            visibility: hidden;
                            opacity: 0;
                            padding: 15px 0px;
                            @include display(none);
                            transition: $basic-transition; 
                            @media #{$media-md} {
                                @include position(relative);
                                @include width(100%);
                                left: 0;
                            }
                        }
                        @include hover-focus() {
                            ul.sub-menu{
                                visibility: visible;
                                opacity: 1;
                                @include display(block);
                            }
                        }
                    }
                }
                @include hover-focus() {
                    ul.sub-menu{
                        visibility: visible;
                        opacity: 1;
                        @include display(block);
                    }
                }
                &.current-menu-item {
                    a {
                        color: $warning;
                    }
                    ul.sub-menu{
                        li{
                            a{
                                color: $white;
                                @include hover-focus() {
                                    color: $warning;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar-collapse {
            justify-content: center;
            @media #{$media-md} {
                @include position(absolute);
                left: 0;
                top: 90px;
                @include width(100%);
            }
            @media #{$media-sm} {
                top: 70px;
            }
        }  
        .navbar-toggler {
            border: none;
            @include position(relative);
            padding: 0;
            @include height(15px);
            @include width(23px);
            @media #{$media-md} {
                @include position(absolute);
                right: 0;
                margin: 0;
            }
            @media #{$media-sm} {
                top: 23px;
            }
            span {
                @include width(23px);
                 @include height(2px);
                background-color: $white;
                @include position(absolute);
                left: 0;
                right: 0;
                transition: $medium-transition;
                &:nth-child(1){
                    top: 0px;
                }
                &:nth-child(2){
                    top: 6px;
                }
                &:nth-child(3){
                    top: 6px;
                }
                &:nth-child(4){
                    top: 12px;
                }
            }
            &[aria-expanded="true"]{
                span {
                    &:nth-child(1){
                        top: 6px;
                        opacity: 0;
                    }
                    &:nth-child(2){
                        transform: rotate(45deg);
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4){
                        top: 6px;
                        opacity: 0;
                    }
                }
            }
        }
    }
    .navbar-brand {
        padding: 0;
        @media #{$media-md} {
            @include max-width(150px);
        }
        img {
            @include width(100%);

            @media #{$media-lg} {
                @include width(130px);
            }

            @media #{$media-sm} {
                @include width(90px);
            }
        }
    }
    .header-sidebar {
        @media #{$media-md} {
            margin-right: 40px;
        }

        @media #{$media-sm} {
            margin-right: 35px;
        }

        .textwidget {
            p {
                @include font-size($xl-font-size);
                color: $white;
                @include font-weight($font-weight-bold);
                @include text-transform(uppercase);
                @include display(inline-block);

                @media #{$media-xl} {
                    @include font-size($m-font-size);
                }
                @media #{$media-sm} {
                    @include font-size($xs-font-size);
                }
                .call-text {
                    @media #{$media-sm}{
                        @include display(none);
                    }
                }
                a {
                    color: $white;
                    @include display(inline-block);
    
                    @media #{$media-md} {
                        padding-left: $g-10;
                    }
                    @media #{$media-sm} {
                        padding-left: 6px;
                    }
                    @include hover-focus() {
                        text-decoration: none;
                    }
                }
                i {
                    margin-right: $g-10;
                    @include position(relative);
                    top: 3px;
                    @media #{$media-sm} {
                        margin-right: 0px;
                        @include font-size($xs-font-size);
                        @include position(relative);
                        top: 1px;
                    }
                }
            }
        }
    }
    .logo-dark {
        @include display(none);
    }
    &.down-scroll-sticky {
        @include position(fixed);
    }
    // For Sticky Header
    &.sticky {
        background-color: $white;
        box-shadow: 0px 4px 19px 0px rgba(12, 33, 53, 0.07);
        .site-title{
            a{
                color: $primary;
            }
        }
        .navbar-brand {
            &.logo-light {
                @include display(none);
            }
            
            &.logo-dark {
                @include display(block);
            }
            img {
                @include width(60px);
                @media #{$media-md} {
                    @include width(40px);
                }
                @media #{$media-sm} {
                    @include width(26px);
                }
            }
        }
        .navbar {
            padding: 13px 0;
            .navbar-toggler {
                span {
                    background-color: $primary;
                }
            }
            .navbar-nav {
                li {
                    &.menu-item-has-children{
                        &:after{
                            border: 1px solid $primary;
                            border-left: 0;
                            border-top: 0;
                        }
                        .menu-item-has-children{
                            &:after{
                                border: 1px solid $white;
                                border-left: 0;
                                border-top: 0;
                            }
                        }
                    }
                    a {
                        color: $primary;

                        @include hover-focus() {
                            color: $warning;
                        }

                        @media #{$media-md} {
                            color: $white;
                        }
                    }
                    &.current-menu-item {
                        a {
                            color: $warning;
                        }
                    }
                }
            }
        }
        .header-sidebar {
            .textwidget {
                p {
                    color: $primary;
                    a {
                        color: $primary;
                    }
                }
            }
        }
    }
    &.up-scroll-sticky {
        &.sticky {
            @include position(fixed);
        }
    }
}