.page-not-found{
    @include position(relative);
    .not-found-inner{
        @include position(relative);        
        background-color: $gray-200;
        margin: 80px 0 80px 0;
        padding: 100px 0;
        @media #{$media-md} {
            padding: 30px 0;
        }
        .mttheme-404-content-wrap{
            h2{
                @include font-size(4rem);
                font-size: 4rem;
                color: $primary;
                font-weight: 700;
                margin-bottom: 20px;

                @media #{$media-md} {
                    @include font-size(3rem);
                }
                @media #{$media-sm} {
                    @include font-size(2.5rem);
                }
            }
            p{
                color: $primary;
                font-size: 20px;
                @media #{$media-md} {
                    font-size: 18px;
                }
            }
            .backtohome{
                color: $dark-yellow;
                a{
                    color: $primary;
                    @include hover-focus() {
                        text-decoration: none;
                    }
                }
            }
        }
        .search-form {
            @include border-radius(0px);
            @include width(100%);
            margin: 40px 0 0 0;

            @media #{$media-md} {
                margin: 20px 0 0 0;
            }
                

            .input-group{
                @include position(relative);
                margin: 0 0 30px 0;
                input{
                    @include border-radius(5px);
                    @include width(100%);
                    border: 1px solid #eff0f2;
                    padding: 14px 22px;
                    @include font-size($l-font-size);
                    &:focus{
                        box-shadow: none;
                        outline: none;
                    }
                }
                .input-group-btn{
                    @include position(absolute);
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto; 
                    button{
                        padding: 0 20px;
                        @include height(100%);
                        line-height: 0;
                    }
                }
            }
        }

        .not-found-img{
            img{
                @include width(100%);
            }
        }
    }
}
@media (min-width: 991px){
    .error404{
        header{
            background-color: $primary;
            .top_navbar{
                padding: 30px 0;
            } 
        }
    }
    header.up-scroll-sticky.sticky{
        background-color: $white;
    }
}




