.pagination {
    @include justify-content(center);
    @include align-items(center);
    padding: 50px 0;

    @media #{$media-sm} {
        padding: 10px 0;
    }

    .page-numbers {
        @include font-size($h6-font-size);
        color: rgba($primary, .5);
        padding: 0 $g-10 * 1.2;
        text-decoration: none;

        &.current {
            color: $primary;
        }

        @include hover(){
            color: $primary;
        }

        &.prev,
        &.next{
            font-family: $font-family-base;
            @include font-size($h6-font-size);
            @include position(relative);
            @include height(31px);
            @include display(inline-block);
            line-height: 31px;
            transition: $medium-transition;
            border-radius: 0;
            margin-left: $g-10 * 4;
            color: $primary;
            padding: 0 50px 0 20px;
            @include background('../images/svg/right-arrow-blue.svg', $position:calc(100% - 10px) center, $size: 30px auto); 

            @media #{$media-sm} {
                margin-left: $g-10 * 1.5;
            }

            &::before {
                content: "";
                @include size(11px, 100%);
                border: 2px solid $dark-yellow;
                @include position(absolute);
                left: 0;
                top: 0;
                z-index: 0;
                transition: $basic-transition;
            }

            @include hover-focus() {
                box-shadow: none;
                color: $dark-yellow;
                @include background('../images/svg/right-arrow-warning.svg', $position:calc(100% - 10px) center, $size: 30px auto); 
        
                &::before {
                    @include width(100%);
                }
            }
        
            span {
                @include position(relative);
                z-index: 1;
            }
        }

        &.prev {
            padding: 0 20px 0 50px;
            @include background('../images/svg/left-arrow-blue.svg', $position:10px center, $size: 30px auto);
            margin-left: 0;
            margin-right: $g-10 * 4;

            @media #{$media-sm} {
                margin-right: $g-10 * 1.5;
            }

            &::before {
                left: inherit;
                right: 0;
            }

            @include hover-focus() {
                @include background('../images/svg/left-arrow-warning.svg', $position:10px center, $size: 30px auto); 
            }
        }
    }
}

.page-links{
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        @include width(100%);
    .inner-page-links{
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        padding: 50px 0;

        @media #{$media-sm} {
            padding: 10px 0;
        }
        .pagination-title{

        }
        .post-page-numbers {
            @include font-size($h6-font-size);
            color: rgba($primary, .5);
            padding: 0 $g-10 * 1.2;
            text-decoration: none;

            &.current {
                color: $primary;
            }

            @include hover(){
                color: $primary;
            }

            &.prev,
            &.next{
                font-family: $font-family-base;
                @include font-size($h6-font-size);
                @include position(relative);
                @include height(31px);
                @include display(inline-block);
                line-height: 31px;
                transition: $medium-transition;
                border-radius: 0;
                margin-left: $g-10 * 4;
                color: $primary;
                padding: 0 50px 0 20px;
                @include background('../images/svg/right-arrow-blue.svg', $position:calc(100% - 10px) center, $size: 30px auto); 

                @media #{$media-sm} {
                    margin-left: $g-10 * 1.5;
                }

                &::before {
                    content: "";
                    @include size(11px, 100%);
                    border: 2px solid $dark-yellow;
                    @include position(absolute);
                    left: 0;
                    top: 0;
                    z-index: 0;
                    transition: $basic-transition;
                }

                @include hover-focus() {
                    box-shadow: none;
                    color: $dark-yellow;
                    @include background('../images/svg/right-arrow-warning.svg', $position:calc(100% - 10px) center, $size: 30px auto); 
            
                    &::before {
                        @include width(100%);
                    }
                }
            
                span {
                    @include position(relative);
                    z-index: 1;
                }
            }

            &.prev {
                padding: 0 20px 0 50px;
                @include background('../images/svg/left-arrow-blue.svg', $position:10px center, $size: 30px auto);
                margin-left: 0;
                margin-right: $g-10 * 4;

                @media #{$media-sm} {
                    margin-right: $g-10 * 1.5;
                }

                &::before {
                    left: inherit;
                    right: 0;
                }

                @include hover-focus() {
                    @include background('../images/svg/left-arrow-warning.svg', $position:10px center, $size: 30px auto); 
                }
            }
        }
    }   
}
