.pattern-wave{

    &::before, &::after {
        content: '';
        width: calc((100% - #{$elementor-container}) / 2);
        @include height(100%);
        @include position(absolute);
        top: 0;
        @include background('../images/pattern-wave.jpg', $position: 0 0, $repeat: repeat, $size: auto);
        z-index: 1;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    &.pattern-white{
        &::before, &::after {
            @include background('../images/pattern-wave-white.png', $position: 0 0, $repeat: repeat, $size: auto);
        }
    }

    &.pattern-gray{
        &::before, &::after {
            @include background('../images/pattern-wave-gray.png', $position: 0 0, $repeat: repeat, $size: auto);
        }
    }
    
}