// Property Grid View
.property-listing-style-1 {

    [class*="col-"]{
        margin-bottom: $g-30;
    }

    .property {
        @include position(relative);
        @include height(100%);

        a {
            @include display(block);
            @include height(100%);

            .property-image {
                @include height(600px);
                -o-object-fit: cover;
                object-fit: cover;
                object-fit: cover;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                @media #{$media-xl} {
                    @include height(500px);
                }

                @media #{$media-lg} {
                    @include height(400px);
                }

                /*@media #{$media-sm} {
                    @include height(auto);
                }*/
                /*img {
                    @include height(600px);
                    @include width(100%);
                    -o-object-fit: cover;
                    object-fit: cover;
                    @media #{$media-xl} {
                        @include height(500px);
                    }

                    @media #{$media-lg} {
                        @include height(400px);
                    }

                    @media #{$media-sm} {
                        @include height(auto);
                    }
                }*/
            }
            .custom-object-fit {
              position: relative;
              background-size: cover;
              background-position: center center;
            }
            .custom-object-fit .wp-post-image {
              opacity: 0;
            }

            
        }

        .property-detail {
            @include position(absolute);
            bottom: 0;
            left: 25px;
            background: $white;
            padding: 15px 23px 12px 23px;
            @include max-width(calc(100% - 50px));
            z-index: 2;

            @media #{$media-sm} {
                left: 15px;
                padding: 5px 10px;
            }

            .property-title {
                @include font-size($h5-font-size);
                font-family: $font-family-serif;

                @media #{$media-sm} {
                    @include font-size($l-font-size);
                }
            }

            .property-price {
                @include font-size($h6-font-size);
                @include font-weight($font-weight-bold);

                @media #{$media-sm} {
                    @include font-size($m-font-size);
                }
            }
        }
    }
}

// Property List View
.property-listing-style-2 {

    [class*="col-"]{
        margin-bottom: $g-10 * 8;

        @media #{$media-sm} {
            margin-bottom: $g-10 * 2;
        }
    }
    
    .property {
        @include position(relative);
        @include height(100%);
        @include display(flex);
        @include flex-wrap(wrap);

        .property-large-img {
            @include display(block);
            @include height(100%);
            @include width(66.66666666%);
            @include position(relative);

            @media #{$media-sm}{
                @include width(100%);
                @include height(auto);
            }

            .property-image {
                @include height(580px);
                background-size: cover;
                background-position: center;
                @media #{$media-sm}{
                    @include height(400px);
                }
                /*img {
                    @include height(580px);
                    @include width(100%);
                    object-fit: cover;

                    @media #{$media-sm}{
                        @include height(auto);
                    }
                }*/
            }

            .property-detail {
                @include position(absolute);
                bottom: 0;
                left: 25px;
                background: $white;
                padding: 15px 23px 12px 23px;
                @include max-width(calc(100% - 50px));
                z-index: 2;
    
                @media #{$media-sm} {
                    left: 15px;
                    padding: 5px 10px;
                }
    
                .property-title {
                    @include font-size($h5-font-size);
                    font-family: $font-family-serif;
    
                    @media #{$media-sm} {
                        @include font-size($l-font-size);
                    }
                }
    
                .property-price {
                    @include font-size($h6-font-size);
                    @include font-weight($font-weight-bold);
    
                    @media #{$media-sm} {
                        @include font-size($m-font-size);
                    }
                }
            }
        }

        .property-gallery {
            @include width(33.33333333%);
            @include position(relative);

            @media #{$media-sm}{
                @include width(100%);
                @include display(flex);
                @include flex-wrap(wrap);
            }

            .property-gallery-image {
                @include height(50%);

                @media #{$media-sm}{
                    @include height(auto);
                    @include width(50%);
                }

                @media #{$media-xs}{
                    @include width(100%);
                }

                img {
                    @include height(100%);
                    @include width(100%);
                    object-fit: cover;
                }
            }

            .property-link {
                @include height(50%);
                @include width(100%);
                @include position(absolute);
                @include display(flex);
                @include align-items(center);
                @include justify-content(center);
                background-color: rgba($primary, .9);
                right: 0;
                bottom: 0;
                opacity: 0;
                transition: $medium-transition;
                z-index: 1;

                @media #{$media-md} {
                    opacity: 1;
                }

                @media #{$media-sm}{
                    @include height(100%);
                    @include width(50%);
                }
                
                @media #{$media-xs}{
                    @include height(50%);
                    @include width(100%);
                }
            }
        }

        @include hover(){
            .property-link {
                opacity: 1;
            }
        }
    }
}