// Property Detail View

.mfp-gallery{
    .mfp-close{
        border: 2px solid #000;
        margin: 20px 20px 0 0px;
        border-radius: 30px;
        width: 34px;
        height: 34px;
        font-size: 1.5rem;
        padding: 0;
        line-height: 32px;
        opacity: 1;
        transition: all ease 0.3s;
        color: #000 !important;
    }
    .mfp-arrow.mfp-arrow-left{
        &:after{
            display: none;
        }
        &:before{
            display: none;
        }
        &:focus{
            outline: none;
        }
        background: url('../images/svg/left-arrow-blue.svg');
        width: 66px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 48px;
    }
    .mfp-arrow.mfp-arrow-right{
        &:after{
            display: none;
        }
        &:before{
            display: none;
        }
        &:focus{
            outline: none;
        }
        background: url('../images/svg/right-arrow-blue.svg');
        width: 66px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 48px;

    }


}

.single-property-main-section {
    .property-image-gallery {
        background-color: $primary;
        padding-top: $g-10 * 18.5;
        @include position(relative);
    
        @media #{$media-xl} {
            padding-top: $g-10 * 15;
        }
    
        @media #{$media-lg} {
            padding-top: $g-10 * 10;
        }
    
        @media #{$media-md} {
            padding-top: $g-10 * 8;
        }

        .main-image {
            img {
                @include width(100%);
                @include height(715px);
                object-fit: cover;

                @media #{$media-xl} {
                    @include height(600px);
                }

                @media #{$media-lg} {
                    @include height(450px);
                }

                @media #{$media-md} {
                    @include height(380px);
                }
            }
        }

        .image-gallery {
            @include position(absolute);
            bottom: 40px;
            left: 40px;
            z-index: 1;
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(flex-start);

            @media #{$media-xs} {
                bottom: 5px;
                left: 25px;
            }

            .popup-image-gallery {
                margin-right: $g-10;
                @include display(block);

                @media #{$media-xs} {
                    margin-right: $g-10 / 2;
                    margin-bottom: $g-10 / 2;
                }

                img {
                    box-shadow: 0px 0px 35px 0px rgba(4, 30, 55, 0.34);
                    @include width(135px);
                    @include height(92px);                     
                    object-fit: cover;

                    @media #{$media-xs} {
                        @include width(90px);
                        @include height(60px);
                    }
                } 
            }

            .image-block {
                @include position(relative);
                margin-right: $g-10;
                
                @media #{$media-xs} {
                    margin-right: $g-10 / 2;
                    margin-bottom: $g-10 / 2;
                }

                a {
                    margin-right: 0;
                    margin-bottom: 0;
                }

                .image-overlay {
                    @include position(absolute);
                    background-color: rgba($primary, .8);
                    top: 0;
                    left: 0;
                    @include width(100%);
                    @include height(100%);
                    color: $white;
                    @include display(flex);
                    @include align-items(center);
                    @include justify-content(center);
                    z-index: 1;
                }
            }
        }
    }
    
    .single-property-text {
        .btn-back {
            margin-top: $g-10 * 1.5;
            margin-bottom: $g-10 * 2;
        }

        .heading {
            &.heading-style-1 {
                padding-left: $g-10 * 4;
                margin-bottom: $g-10 * 3;

                @media #{$media-sm} {
                    padding-left: $g-10 * 1.5;
                }

                .property-type {
                    margin-bottom: $g-10 / 2;

                    .badge-pill {
                        @extend %badge-pill;
                    }
                }

                .heading-title {
                    @include font-size(36px);
                    @include font-weight($font-weight-normal);
                }
            }
        }

        .block-title {
            @extend %block-title;
            margin-bottom: $g-10 * 4;
        }

        .property-content {
            margin-bottom: $g-10 * 3;
            padding-left: $g-10 * 4;  
            
            @media #{$media-sm} {
                padding-left: $g-10 * 1.5;
            }
            
            p {
                line-height: 1.9;
            }
        }

        .property-detail {
            padding-left: $g-10 * 4;

            @media #{$media-sm} {
                padding-left: $g-10 * 1.5;
            }

            [class*="col-"]{
                margin-right: $g-10 * 6.5;
                @include text-align(center);

                @media #{$media-sm} {
                    margin-right: $g-10 * 3;
                    margin-bottom: $g-10 * 1.5;
                }
                
                &:last-child{
                    margin-right: 0;
                }
            }

            img {
                margin-bottom: 10px;
            }
        }

        .property-characteristies {
            padding-left: $g-10 * 4;

            @media #{$media-md} {
                padding-left: 0;
            }

            .list-group {
                @include flex-direction(row);
                @include flex-wrap(wrap);
                margin: 0 -60px;
                padding: 0 30px;

                @media #{$media-md} {
                    margin: 0;
                    padding: 0;
                }

                .list-group-item {
                    @include display(flex);
                    @include font-size($l-font-size);
                    padding: $g-10 * 2 0;
                    @include width(calc(50% - 60px));
                    margin: 0 30px;

                    @media #{$media-md} {
                        width: 100%;
                        margin: 0;
                    }

                    @media #{$media-sm} {
                        padding: $g-10 * 1 0;
                    }

                    &:first-child,
                    &:nth-child(2) {
                        padding-top: 0;
                    }

                    &:nth-last-child(-n+2) {
                        border-bottom-width: 0;
                    }

                    @media #{$media-md} {
                        &:nth-child(2) {
                            padding: $g-10 * 2 0;

                            @media #{$media-sm} {
                                padding: $g-10 * 1 0;
                            }
                        }
                    }

                    .label {
                        color: rgba($primary, .8);
                    }

                    .value {
                        color: $primary;
                        margin-left: auto;
                    }
                }
            }
        }

        .property-floorplan {
            padding-left: $g-10 * 4;

            @media #{$media-md} {
                padding-left: 0;
            }

            .floorplan-slider {

                .swiper-container {
                    padding: 0 $g-10 * 12 $g-10 * 5;
                    @include width(100%);
                    @include height(100%);

                    @media #{$media-sm} {
                        padding: 0 $g-10 * 4 $g-10 * 5;
                    }

                    .swiper-wrapper {

                        .swiper-slide {
                            img {
                                @include width(100%);
                                @include height(auto);
                            }
                        }
                    }

                    .swiper-pagination {
                        bottom: 0;

                        .swiper-pagination-bullet {
                            @include width(8px);
                            @include height(8px);
                            margin: 0 4px;
                            opacity: .1;
                            background-color: $primary;

                            &.swiper-pagination-bullet-active {
                                opacity: 1;
                            }
                        }
                    }

                    .swiper-button-prev {
                        @include background('../images/svg/left-arrow-blue.svg', $position:center center, $size: 25px auto); 
                        left: 40px;
                        @include width(41px);
                        @include height(41px);
                        opacity: 1;
                        border: 2px solid #cc9668;
                        z-index: 2;

                        @media #{$media-sm} {
                            left: 0;
                        }

                        @include hover-focus(){
                            outline: none;
                        }
                    }
    
                    .swiper-button-next {
                        @include background('../images/svg/right-arrow-blue.svg', $position:center center, $size: 25px auto); 
                        right: 40px;
                        @include width(41px);
                        @include height(41px);
                        opacity: 1;
                        border: 2px solid #cc9668;
                        z-index: 2;

                        @media #{$media-sm} {
                            right: 0;
                        }

                        @include hover-focus(){
                            outline: none;
                        }
                    }
                }
            }
        }

        .property-neighborhood {
            padding-left: $g-10 * 4;

            @media #{$media-md} {
                padding-left: 0;
            }
            
            [class*="col-"]{
                margin-right: $g-10 * 8.5;

                @media #{$media-sm} {
                    margin-right: $g-10 * 3;
                    margin-bottom: $g-10 * 1.5;
                }
                
                &:last-child{
                    margin-right: 0;
                }
            }

            .title {
                @extend %block-title;
                margin-bottom: $g-10 / 2;
                line-height: 1;
            }

            p {
                @include font-size($l-font-size);
            }

            .ownership {
                margin-top: $g-10 * 4;

                label {
                    @include font-size($l-font-size);
                    @include text-transform(inherit);
                    letter-spacing: -0.25px;
                    color: rgba($primary, .5);
                    margin-bottom: $g-10;
                    line-height: 1;
                }

                .progress {
                    border-radius: 0;
                    @include height(15px);
                }

                .progress-info {
                    display: flex;
                    @include font-size($h5-font-size);
                    color: $primary;
                    letter-spacing: -0.25px;
                    line-height: 1;
                    margin-top: $g-10;

                    .text-right {
                        margin-left: auto;
                    }
                }
            }
        }

        .property-loan {
            padding-left: $g-10 * 4;

            @media #{$media-md} {
                padding-left: 0;
            }

            .swiper-slide {
                @include text-align(center);
                border: $border-width solid $gray-200;
                padding: $g-10 * 2;

                img {
                    @include height(100px);
                    @include width(130px);
                    object-fit: contain;
                    margin-bottom: $g-10 * 1.5;
                }

                .loan-percentage {
                    @include font-size($h6-font-size);
                    color: $primary;
                    letter-spacing: -0.25px;
                    line-height: 1;
                }
            }
        }

        // Property Detail Sidebar
        .property-sidebar {
            margin-top: - $g-10 * 24;

            @media #{$media-md}{
                margin-top: 0;
            }

            .sidebar-block {
                box-shadow: 0px 0px 27px 0px rgba(4, 30, 55, 0.11);
                background-color: $white;
                margin-bottom: $g-10 * 5;
                @include position(relative);
                padding-bottom: $g-10 * 3;

                &::after {
                    content: '';
                    @include height(30px);
                    @include width(100%);
                    @include background('../images/stripe-pattern.png', $position:left top, $repeat: repeat-x); 
                    @include position(absolute);
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                }
                
                .block-title {
                    @extend %block-title;
                    @include font-size($h4-font-size);
                    margin: 0;
                    padding: 25px 30px;
                    line-height: 1;

                    @media #{$media-sm}{
                        padding: $g-10 * 1.5;
                    }
                }

                .block-inner {
                    padding: $g-10 * 4 $g-10 * 3 $g-10 * 3 $g-10 * 3;

                    @media #{$media-sm}{
                        padding: $g-10 * 2 $g-10 * 1.5 $g-10 * 2 $g-10 * 1.5;
                    }

                    .property-availability {
                        margin-bottom: $g-10 * 1.1;

                        .badge {
                            @extend %badge;
                        }
                    }

                    .property-price {
                        @include font-size(28px);
                        line-height: 1;
                        @include display(flex);
                        @include align-items(flex-end);

                        .offer {
                            margin-left: auto;
                            @include font-weight($font-weight-bold);
                            color: rgba($primary, .5);
                            @include font-size($s-font-size);
                        }
                    }

                    .property-contact-wrapper {
                        p{
                            margin-bottom: 0;
                        }
                        
                        .form-group {
                            margin-bottom: $g-10 * 2;    
                        }
                        
                        label {
                            @include font-size(15px);
                            @include text-transform(inherit);
                        }

                        .form-control {
                            @include height(46px);
                            padding: 0 12px;
                            @include font-size($s-font-size);
                            background-color: #f8f9fa;
                            border-color: #e4eaf0;
                        }
                    }
                }

                .availibility-block {
                    background-color: #f8f9fa;
                }

                &.map-block {
                    .block-inner{
                        padding: 0;

                        .property-map {
                            iframe {
                                @include width(100%);
                                vertical-align: top;
                            }
                        }
                    }
                }

                .property-contact-wrapper{
                    form{
                        .form-group{
                            .wpcf7-list-item{
                                margin-left: 0; 
                                label{

                                    input[type="checkbox"]:not(:checked),
                                    input[type="checkbox"]:checked {
                                      position: absolute;
                                      left: -9999px;
                                    }
                                    input[type="checkbox"]:not(:checked) + .wpcf7-list-item-label,
                                    input[type="checkbox"]:checked + .wpcf7-list-item-label {
                                      position: relative;
                                      padding-left: 25px;
                                      cursor: pointer;
                                    }

                                    /* checkbox aspect */
                                    input[type="checkbox"]:not(:checked) + .wpcf7-list-item-label:before,
                                    input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        width: 19px;
                                        height: 19px;
                                        border: 1px solid #e4dad2;
                                        background: #f9f9f9;
                                        border-radius: 0;
                                        box-shadow: none;
                                    }
                                    /* checked mark aspect */
                                    input[type="checkbox"]:not(:checked) + .wpcf7-list-item-label:after,
                                    input[type="checkbox"]:checked + .wpcf7-list-item-label:after {
                                        content: '\2713\0020';
                                        position: absolute;
                                        top: 3px;
                                        left: 5px;
                                        font-size: 15px;
                                        line-height: 15px;
                                        color: $primary;
                                        transition: all 0.2s;
                                    }
                                    /* checked mark aspect changes */
                                    input[type="checkbox"]:not(:checked) + .wpcf7-list-item-label:after {
                                      opacity: 0;
                                      transform: scale(0);
                                    }
                                    input[type="checkbox"]:checked + .wpcf7-list-item-label:after {
                                      opacity: 1;
                                      transform: scale(1);
                                    }
                                    /* disabled checkbox */
                                    input[type="checkbox"]:disabled:not(:checked) + .wpcf7-list-item-label:before,
                                    input[type="checkbox"]:disabled:checked + .wpcf7-list-item-label:before {
                                      box-shadow: none;
                                      border-color: #bbb;
                                      background-color: #ddd;
                                    }
                                    input[type="checkbox"]:disabled:checked + .wpcf7-list-item-label:after {
                                      color: #999;
                                    }
                                    input[type="checkbox"]:disabled + .wpcf7-list-item-label {
                                      color: #aaa;
                                    }
                                    /* accessibility */
                                    input[type="checkbox"]:checked:focus + .wpcf7-list-item-label:before,
                                    input[type="checkbox"]:not(:checked):focus + .wpcf7-list-item-label:before {
                                      border: 1px solid #e4eaf0;
                                    }

                                    /* hover style just for information */
                                    &:hover:before {
                                      border: 1px solid #4778d9!important;
                                    }

                                    .wpcf7-list-item-label{
                                        color: rgba($primary, 0.5);
                                        a{
                                            color: rgba($primary, 1);
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }

        .recommanded-properties {
            margin-bottom: $g-10 * 3;

            .recommanded-title {
                margin-bottom: $g-10 * 8;

                @media #{$media-sm}{
                    margin-bottom: $g-10 * 3;
                }
                
                .heading {
                    &.heading-style-1 {
                        margin-bottom: 0;

                        @media #{$media-md}{
                            margin-bottom: $g-10 * 1.5;
                        }

                        .heading-title {
                            @include font-size($h3-font-size);
                            @include font-weight($font-weight-bold);
                            margin-bottom: 0;

                            @media #{$media-sm}{
                                @include font-size($h4-font-size);
                            }
                        }
                    }
                }
            }

            .property {
                @include position(relative);
                @include height(100%);
        
                a {
                    @include display(block);
                    @include height(100%);

                    @media #{$media-sm} {
                        margin-bottom: 15px;
                        @include height(auto);
                    }
        
                    .property-image {
                        @include height(100%);
        
                        img {
                            @include height(600px);
                            @include width(100%);
                            object-fit: cover;
        
                            @media #{$media-xl} {
                                @include height(500px);
                            }
        
                            @media #{$media-lg} {
                                @include height(400px);
                            }
        
                            @media #{$media-sm} {
                                @include height(auto);
                            }
                        }
                    }
                }
        
                .property-detail {
                    @include position(absolute);
                    bottom: 0;
                    left: 25px;
                    background: $white;
                    padding: 15px 23px 12px 23px;
                    @include max-width(calc(100% - 50px));
                    z-index: 2;
        
                    @media #{$media-sm} {
                        left: 15px;
                        padding: 5px 10px;
                    }
        
                    .property-title {
                        @include font-size($h5-font-size);
                        font-family: $font-family-serif;
        
                        @media #{$media-sm} {
                            @include font-size($l-font-size);
                        }
                    }
        
                    .property-price {
                        @include font-size($h6-font-size);
                        @include font-weight($font-weight-bold);
        
                        @media #{$media-sm} {
                            @include font-size($m-font-size);
                        }
                    }
                }
            }
        }
    }
}
