.property-filter-wrap {
    @include display(flex);
    padding: 60px 0;
    @include align-items(center);

    @media #{$media-lg} {
        padding: 30px 0;
    }

    @media #{$media-md} {
        @include flex-wrap(wrap);
        padding: 30px 0 40px;
    }

    @media #{$media-xs} {
        padding: 30px 0;
    }

    .filter-label {
        @include font-size($m-font-size);
        @include text-transform(uppercase);
        color: $primary;
        margin-right: $g-10 * 1.5;
        margin-bottom: 0;

        @media #{$media-lg} {
            @include font-size($s-font-size);
            margin-right: $g-10 * 1;
        }

        @media #{$media-xs} {
            @include font-size($xs-font-size);
        }
    }

    .pagination-filter {
        min-width: 275px;

        @media #{$media-md} {
            order: 0;
            width: 50%;
        }

        @media #{$media-sm} {
            min-width: inherit;
        }

        @media #{$media-xs} {
            width: 100%;
            @include text-align(center);
        }
    }

    .availbility-filter {
        margin-left: auto;
        margin-right: auto;

        @media #{$media-md} {
            order: 2;
            width: 100%;
            @include text-align(center);
            margin-top: $g-10;
        }

        @media #{$media-xs} {
            margin-top: $g-10 * 1.5;
            order: 1;
        }

        .custom-control {
            margin-right: $g-10 * 4;

            @media #{$media-lg} {
                margin-right: $g-10 * 2;
            }

            @media #{$media-xs} {
                margin-right: $g-10 * 1;
            }
        }
    }

    .view-filter {
        min-width: 275px;
        @include justify-content(flex-end);
        @media #{$media-md} {
            order: 1;
            width: 50%;
        }
        @media #{$media-sm} {
            min-width: inherit;   
        }
        @media #{$media-xs} {
            width: 100%;
            margin-top: $g-10 * 1.5;
            text-emphasis: none;
            @include justify-content(center);
            order: 2;
        }
        .filter-label {
            margin-right: $g-10 * 2;
            @media #{$media-lg} {
                margin-right: $g-10 * 1;
            }
        }
        .form-control {
            border: $border-width solid $gray-300;
            border-radius: 0;
            height: 35px;
            width: 125px;
            background-color: $white;
            color: $primary;
            padding: 0 10px;
            @include font-size($s-font-size);
            background-clip: unset;
            @include appearance(none);
            @include background('../images/svg/select-down-arrow.svg', $position:calc(100% - 10px) center, $repeat: no-repeat, $size: 8px auto);
            color: rgba($primary, .5);
            box-shadow: none;
            @include text-transform(uppercase);
            &::-ms-expand {
                display: none;
            }
            @media #{$media-xs} {
                width: 110px;
                @include font-size($xs-font-size);
            }
        }
    }

    .custom-control {
        padding-left: 0;
        margin-right: $g-10 * 1.5;

        &:last-child{
            margin-right: 0;
        }

        &.custom-radio {

            .custom-control-label{
                color: rgba($primary, .5);
                @include font-size($m-font-size);
                @include text-transform(uppercase);

                @media #{$media-lg} {
                    @include font-size($s-font-size);
                }

                @media #{$media-xs} {
                    @include font-size($xs-font-size);
                }

                &::before {
                    content: "";
                    width: 5px;
                    height: 5px;
                    bottom: -5px;
                    left: 0;
                    top: inherit;
                    right: 0;
                    margin: 0 auto;
                    border: none;
                    opacity: 0;
                    box-shadow: none;
                }

                &::after {
                    display: none;
                }
            }

            .custom-control-input {
                &:checked {
                    &~ .custom-control-label {
                        color: $primary;

                        &::before {
                            background-color: $warning;
                            opacity: 1;
                        }
                    }
                }
            }

        }
    }
}