h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-serif;
}

h1{
    @include font-size(3.5rem);
    @media #{$media-md} {
       @include font-size(2.25rem);
    }
}
h2{
    @include font-size(2.25rem);
    @media #{$media-md} {
       @include font-size(1.75rem);
    }
}
h3{
    @include font-size(2rem);
    @media #{$media-md} {
       @include font-size(1.5rem);
    }
}
h4{
    @include font-size(1.75rem);
    @media #{$media-md} {
       @include font-size(1.25rem);
    }
}
h5{
    @include font-size(1.5rem); 
    @media #{$media-md} {
       @include font-size(1rem);
    }
}   
h6{
    @include font-size(1.25rem);
    @media #{$media-md} {
       @include font-size(0.75rem);
    }
}


a {
    transition: $basic-transition;
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

.container {
    @media #{$media-sm} {
        @include max-width(100%);
    }
}

hr {
    border-color: $gray-200;
    margin-top: $g-10 * 5;
    margin-bottom: $g-10 * 5;

    @media #{$media-sm}{
        margin-top: $g-10 * 3;
        margin-bottom: $g-10 * 3;
    }
}
