    .search-wrapper {
    @include position(absolute);
    top: 480px;
    left: 100px;
    z-index: 2;
    transform: rotate(-90deg);

    @media #{$media-xl} {
        top: 480px;
        left:10px;
    }

    @media #{$media-lg} {
        top: 390px;
        left: 10px;
    }

    @media #{$media-md} {
        top: 26px;
        right: 250px;
        transform: rotate(0deg);
        z-index: 9;
        left: auto;

        span {
            @include display(none);
        }
    }

    @media #{$media-sm} {
        top: 19px;
        right: 150px;
    }

    .header-search {
        @include font-size($h6-font-size);
        color: rgba($white, 0.5);
        @include text-transform(uppercase);

        @media #{$media-sm} {
            font-size: 17px;
        }

        &:hover {
            text-decoration: none;
        }

        span {
            @media #{$media-xs} {
                @include display(none);
            }
        }
        .icon-search {
            color: $white;
            transform: scaleX(-1);
            @include position(absolute);
            top: 5px;
            left: -25px;
            @include font-size($m-font-size);

            @media #{$media-md} {
                transform: none;
            }

            @media #{$media-sm} {
                @include font-size(13px);
            }
        }
    }
}
.show-search-popup {
    background-color: rgba($primary, 0.98);

    .mfp-content {
        @include text-align(center);

        .search-form {
            @include position(relative);

            .icon-search {
                color: $white;
                @include position(absolute);
                top: 20px;
                left: 1px;

                @media #{$media-sm} {
                    @include font-size($xs-font-size);
                }
            }

            .search-submit {
                @include position(absolute);
                right: 0;
                outline: none;
                border: none;
                top: 0;
                padding: 0;
                @include max-width(60px);
                @include width(100%);
                @include height(100%);
                z-index: 9;

                @media #{$media-md} {
                    @include max-width(40px);
                }

                &:hover {
                    background: transparent;
                }

                img {
                    @include width(100%);
                }
            }

            .search-field {
                @include font-size($h5-font-size);
                color: $white;
                @include font-weight($font-weight-normal);
                background: transparent;
                box-shadow: none;
                border: none;
                border-bottom: 1px solid rgba(254, 254, 254, 0.5);
                padding: 10px 100px 10px 30px;
                outline: none;
                @include width(100%);

                &::placeholder {
                    color: rgba($white, 0.5);
                }
                &:focus{
                    background-color: transparent;
                }
                @media #{$media-md} {
                    @include font-size($m-font-size);
                    padding: 16px 50px 10px 30px;
                }

                @media #{$media-sm} {
                    @include font-size($s-font-size);
                }
            }
        }
    }

    .mfp-close {
        border: 2px solid $white;
        margin: 20px 20px 0 0px;
        border-radius: 30px;
        @include width(34px);
        @include height(34px);
        @include font-size($h5-font-size);
        padding: 0;
        line-height: 32px;
        opacity: .5;
        transition: $medium-transition;

        @include hover-focus() {
            opacity: 1;
        }

        @media #{$media-sm} {
            width: 26px;
            height: 26px;
            line-height: 24px;
        }
    }
}

body {
    &.home {
        .search-wrapper {
            top: 730px;
            
            @media #{$media-xl} {
                top: 550px;
            }

            @media #{$media-lg} {
                top: 450px;
            }
        
            @media #{$media-md} {
                top: 26px;
            }

            @media #{$media-sm} {
                top: 19px;
            }
        }
    }
}