.mtelements-service-wrapper{
    &.service-listing-style-1 {
        .services{
            @include position(relative);
            margin-bottom: 30px;

            a{
                @include display(block);
                vertical-align: top;

                img {
                    @include width(100%);
                    object-fit: cover;
                }

                .service-text {
                    @include position(absolute);
                    bottom: 0;
                    left: 25px;
                    background: $white;
                    padding: 15px 23px 12px 23px;
                    @include font-size($h6-font-size);
                    line-height: 1;
                    @include min-width(250px);
                    @include font-weight($font-weight-bold);
                    z-index: 2;

                    @media #{$media-sm} {
                        left: 15px;
                    }

                    span {
                        @include font-size($h4-font-size);
                        font-family: $font-family-serif;
                        @include font-weight($font-weight-bold);
                        @include text-transform(capitalize);
                        @include display(block);
                    }
                }
            }
        }
    }
}