.sidebar{
    .widget {
        background-color: #FAF6F3;
        padding: 30px 20px;
        margin-top: 15px;
        margin-bottom: 15px;

        .widget-title{
            margin-bottom: 30px; 
            span{
                @include font-size($h5-font-size);
                line-height: 1;
                font-family: $font-family-serif;
                margin-bottom: $g-30;
                color: $primary;
                @include font-weight($font-weight-bold);
            }
        }
        &.widget_search{
            background-color: $primary;
            .widget-title{
                span{
                    color: $white;
                }
            }
            .search-form {
                @include position(relative);
                .icon-search {
                    color: $white;
                    @include position(absolute);
                    top: 20px;
                    left: 0;
                    @media #{$media-sm} {
                        @include font-size($xs-font-size);
                    }
                }
                .search-submit {
                    @include position(absolute);
                    right: 0;
                    outline: none;
                    border: none;
                    top: 0;
                    padding: 0;
                    @include max-width(30px);
                    @include width(100%);
                    @include height(100%);
                    @media #{$media-md} {
                        @include max-width(40px);
                    }
                    &:hover {
                        background: transparent;
                    }
                    img {
                        @include width(100%);
                    }
                }
                .search-field {
                    @include font-size($m-font-size);
                    color: $white;
                    @include font-weight($font-weight-normal);
                    background: transparent;
                    box-shadow: none;
                    border: none;
                    border-bottom: 1px solid rgba(254, 254, 254, 0.5);
                    padding: 10px 40px 10px 30px;
                    outline: none;
                    @include width(100%);
                    &::placeholder {
                        color: rgba($white, 0.5);
                    }
                    @media #{$media-md} {
                        @include font-size($m-font-size);
                        padding: 16px 50px 10px 30px;
                    }
                    @media #{$media-sm} {
                        @include font-size($s-font-size);
                    }
                }
            }
        }
        ul{
            padding: 0;
            margin: 10px 0 0 0;
            list-style: none;
            li{
                margin: 0 0 10px 0;
                border-bottom: 1px solid rgba(0,0,0,0.05);
                padding: 0 0 10px 0;
                &:last-child{
                    border: 0;
                    margin: 0;
                    padding: 0; 
                }
                a{
                    @include hover(){
                        text-decoration: none;
                    }
                }
            }
        }
        &.widget_categories, &.widget_pages{
            ul{
                @include display(flex);
                @include flex-wrap(wrap);
                
                li{
                    @include width(100%);

                    a{
                       
                    }
                    .children{
                        padding-left: 15px;
                    }
                }
            }
        }
        &.widget_archive{

        }
        &.widget_calendar{
            .calendar_wrap{
                @include width(100%);
                margin-top: 0;
                .wp-calendar-table{
                    @include width(100%);
                    caption{

                    }
                    thead{
                        tr{
                            th{
                                text-align: center;
                                border: 1px solid $gray-300;
                                padding: 5px; 
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                text-align: center;
                                border: 1px solid $gray-300;
                                padding: 5px;
                                a{
                                    color: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.widget_text{
            .textwidget{
                p{
                    img{
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                }
                img{
                    @include width(100%);
                    @include height(auto);
                }
                .wp-caption.alignnone {
                    margin: 0 0 15px 0;
                    @include max-width(100%);
                }
            }
        }
        
        select{
            @include width(100%);
            border: $border-width solid $gray-300;
            border-radius: 0;
            @include height(60px);
            background-color: $white;
            color: $primary;
            padding: 0 25px;
            @include font-size($m-font-size);
            background-clip: unset;
        }   
        
        &.widget_tag_cloud{
            .tagcloud{
                padding: 0;
                margin-top: 0;
                .tag-cloud-link{
                    margin-top: 30px;
                    background: $dark-yellow;
                    padding: 3px 12px;
                    @include text-transform(uppercase);
                    color: $white;
                    border-radius: 3px;
                    letter-spacing: 0.2px;
                    font-weight: 600;
                    font-size: 12px !important;
                    margin: 0 0 2px 0;
                    display: inline-block;
                    @include hover-focus() {
                        text-decoration: none;
                    }
                    @media #{$media-xl} {
                        padding: 3px 8px;
                    }
                }
            }
        }
        &.widget_rss{
            ul{
                li{
                    .rsswidget{
                        @include font-weight($font-weight-bold);
                    }
                    .rssSummary{
                        margin: 10px 0 10px 0;
                    }
                }
            }
        }
        &.widget_nav_menu{
            .menu{
                li{
                    ul{
                        padding-left: 15px;
                    }
                }    
            }
        }
    }
}