.single-service-image {
    background-color: $primary;
    padding-top: 185px;

    @media #{$media-xl} {
        padding-top: 150px;
    }

    @media #{$media-lg} {
        padding-top: 100px;
    }

    @media #{$media-md} {
        padding-top: 80px;
    }

    .image-wrapper {

        img {
            width: 100%;
            height: 715px;
            object-fit: cover;

            @media #{$media-xl} {
                height: 600px;
            }

            @media #{$media-lg} {
                height: 400px;
            }

            @media #{$media-md} {
                height: 350px;
            }

            @media #{$media-sm} {
                height: 250px;
            }

            @media #{$media-xs} {
                height: 200px;
            }
        }
    }
}

.single-service-text {
    .btn-back {
        margin-top: $g-10 * 1.5;
        margin-bottom: $g-10 * 2;
    }

    .heading-style-1 {
        padding-left: $g-10 * 4;

        @media #{$media-sm} {
            padding-left: $g-10 * 1.5;
        }

        .heading-title {
            @include font-size($h3-font-size);

            @media #{$media-sm} {
                @include font-size($h4-font-size);
            }
        }
        
        .heading-subtitle {
            color: rgba($primary, .5);
        }

    }
}

.make-diffent{
    .heading-style-1{
        .heading-subtitle{
            color: $primary !important;
            margin-bottom: 20px;
        }
    }
}



.elementor-2 .elementor-element.elementor-element-a1b4a9d{
    @media #{$media-sm} {
        @include width(100%);
        @include max-width(100%);
    }
}

.elementor-2 .elementor-element.elementor-element-30a0428 {
    @media #{$media-sm} {
        @include width(100%);
        @include max-width(100%);
    }
}
