.social-icon{
    &.social-icon-style-1{
        a{
            border: 2px solid rgba($white, .5);
            color: rgba($white, .5);
            border-radius: $rounded-pill;
            @include width(34px);
            @include height(34px);
            @include display(inline-block);
            @include text-align(center);
            margin-right: 13px;
            @include font-size($m-font-size);
            line-height: 32px;

            @include hover-focus() {
                color: $white;
                text-decoration: none;
                border-color: $white;
            }
        }
    }
}