.mtelements-team-carousel-wrapper{
    .mtelements-team-carousel {
        &.team-carousel-style-1 {
            padding-bottom: 70px;
            @media #{$media-sm} {
                padding-bottom: 40px;
            }
            .swiper-slide {
                background-color: $white;
                box-shadow: 0px 0px 38px 0px rgba(217, 220, 232, 0.35);
                @include text-align(center);
                padding: 55px 35px 0;
    
                .slide-image{
                    img {
                        border-radius: $rounded-pill;
                        @include width(115px);
                        @include height(115px);
                        object-fit: cover;
                        margin-bottom: $g-25;
                    }
                }
                .slide-title {
                    @include font-size($h6-font-size);
                    font-family: $font-family-serif;
                    color: $primary;
                    line-height: 1.5;
                    margin-bottom: 5px;
                }
                .slide-designation {
                    margin-bottom: 20px;
                }
                .slide-contact {
                    @include font-weight($font-weight-bold);
                    @include text-transform(uppercase);
                    margin-bottom: 20px;
                }
    
                .slide-button {
                    border-top: $border-width solid $gray-200;
    
                    .btn {
                        &.btn-link {
                            @include text-transform(uppercase);
                            @include font-size($s-font-size);
                            @include font-weight($font-weight-bold);
                            color: $primary;
                            padding: 24px 0;
                            line-height: 1;
                            text-decoration: none;
    
                            @include hover-focus() {
                                color: $dark-yellow;
                            }
                        }
                    }
                }
            }
            & ~.swiper-pagination{
                bottom: 0;

                .swiper-pagination-bullet {
                    @include width(13px);
                    @include height(13px);
                    border: 2px solid $dark-yellow;
                    background-color: transparent;
                    margin: 0 3px;
                    opacity: 1;
                    transition: $medium-transition;

                    &.swiper-pagination-bullet-active {
                        background-color: $dark-yellow;
                    }
                }
            }
        }
    }
}

.team-style-1 {
    background-color: $white;
    box-shadow: 0px 0px 38px 0px rgba(217, 220, 232, 0.35);
    @include text-align(center);
    padding: 40px 0 0 0;
    .team-image{
        img {
            border-radius: $rounded-pill;
            @include width(115px);
            @include height(115px);
            object-fit: cover;
            margin-bottom: $g-25;
            @media #{$media-md} {
                @include width(75px);
                @include height(75px);
            }
        }
    }
    .team-title {
        @include font-size($h6-font-size);
        font-family: $font-family-serif;
        color: $primary;
        line-height: 1.5;
        margin-bottom: 5px;
        @media #{$media-lg} {
            @include font-size($m-font-size);
        }
    }
    .team-designation {
        margin-bottom: 20px;
        @media #{$media-md} {
           margin-bottom: 10px;
           @include font-size($xs-font-size);
        }
    }
    .team-contact {
        @include font-weight($font-weight-bold);
        @include text-transform(uppercase);
        margin-bottom: 20px;
        @media #{$media-lg} {
            @include font-size($s-font-size);
        }
        @media #{$media-md} {
           @include font-size($xs-font-size);
        }
    }
    .team-button {
        border-top: $border-width solid $gray-200;
        .btn {
            &.btn-link {
                @include text-transform(uppercase);
                @include font-size($s-font-size);
                @include font-weight($font-weight-bold);
                color: $primary;
                padding: 15px 0;
                line-height: 1;
                text-decoration: none;
                @include height(auto);
                @include width(100%);
                @include hover-focus() {
                    color: $gray-200;
                    background-color:$primary
                }
            }
        }
    }
}

.want-join-img{
    .before-pattern{
        @include position(relative);
        &::before, &::after {
            content: '';
            @include background('../images/testimonial-frame.png', $position:left top, $size: cover); 
            @include height(26px);
            @include width(26px);
            @include position(absolute);
            z-index: 1;
        }

        &::before {
            left: 0;
            top: 0;
        }

        &::after {
            left: 0;
            transform: rotate(90deg);
            z-index: 11;
            bottom: 0;
        }

        .elementor-widget-container {
            box-shadow: 13.383px 14.863px 46px 0px rgba(33, 28, 25, 0.14);
            padding: 26px;
            background-color: $white;
            @include position(relative);

            &::before, &::after {
                content: '';
                @include background('../images/testimonial-frame.png', $position:left top, $size: cover); 
                @include height(26px);
                @include width(26px);
                @include position(absolute);
                z-index: 1;
            }
            &::before {
                right: 0;
                top: 0;
                transform: rotate(90deg);
            }
            &::after {
                right: 0;
                transform: rotate(0deg);
                bottom:0;
            }
            
        }
    }
}
.join-subtitle{
    h6{
        margin: 0 0 0 0;
        line-height: 1.7;
    }    
}
/*.join-subtitle{
    h5{
       @include font-size($h6-font-size);
        font-family: $font-family-serif;
        color: $primary;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: $g-15;
    }
}
.join-content{
    p{
        font-size: 17px;
        color: rgba($primary, .5);
        @include font-style(italic);
        line-height: 1.8;
        margin-bottom: $g-20;
    }
}
*/