.entry-content {
	.alignnone {
	    margin: 5px 20px 20px 0;
	}
	
	.aligncenter,
	div.aligncenter {
	    display: block;
	    margin: 5px auto 5px auto;
	}
	.alignleft {
	    float: left;
	    margin: 5px 20px 20px 0;
	}

	a img.alignright {
	    float: right;
	    margin: 5px 0 20px 20px;
	}

	img.alignright {
	    clear: both;
	}
	a img.alignnone {
	    margin: 5px 20px 20px 0;
	}

	a img.alignleft {
	    float: left;
	    margin: 5px 20px 20px 0;
	}

	.alignright {
	    float: right;
	    margin: 5px 0 20px 40px;
	}

	a img.aligncenter {
	    display: block;
        @include display(block);
	    margin-left: auto;
	    margin-right: auto;
	}

	.wp-caption {
	    background: $white;
	    border: 1px solid #f0f0f0;
	    max-width: 96%; /* Image does not overflow the content area */
	    padding: 5px 3px 10px;
	    text-align: center;
	    p.wp-caption-text {
		    font-size: 11px;
		    line-height: 17px;
		    margin: 0;
		    padding: 15px 4px 0;
		}
		img {
            @include width(100%);
		    margin: 0;
		}
	}
	
	.wp-caption.alignnone {
	    margin: 5px 20px 20px 0;
	}

	.wp-caption.alignleft {
	    margin: 5px 20px 20px 0;
	}

	.wp-caption.alignright {
	    margin: 5px 0 20px 20px;
	}

	.wp-caption img {
	    border: 0 none;
	    margin: 0;
        @include height(auto);
        @include max-width(98.5%);
        @include width(100%);
	    padding: 0;
	}

	.wp-caption p.wp-caption-text {
	    font-size: 11px;
	    line-height: 17px;
	    margin: 0;
	    padding: 0 4px 5px;
	}

	/* Text meant only for screen readers. */
	.screen-reader-text {
	  border: 0;
	  clip: rect(1px, 1px, 1px, 1px);
	  clip-path: inset(50%);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute !important;
	  width: 1px;
	  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
	}

	.screen-reader-text:focus {
	  background-color: #eee;
	  clip: auto !important;
	  clip-path: none;
	  color: #444;
	  display: block;
	  font-size: 1em;
	  height: auto;
	  left: 5px;
	  line-height: normal;
	  padding: 15px 23px 14px;
	  text-decoration: none;
	  top: 5px;
	  width: auto;
	  z-index: 100000;
	  /* Above WP toolbar. */
	}

	.bypostauthor {
	  border-bottom: 1px solid #e8e8e8;
	}

	.gallery-caption {
	  background-color: #f7f7f7;
	  padding: 10px;
	  font-weight: 500;
	  word-break: break-all;
	}

	.kirki-customizer-loading-wrapper{
	  background-image: url("assets/images/loader.svg") !important;
	}

	.kirki-customizer-loading-wrapper .kirki-customizer-loading {
	  display: none !important;
	}

}
img{
	@include max-width(100%);
    @include height(auto);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px;
}

blockquote {
    border-left: 2px solid $dark-yellow;
    padding: 3px 0 3px 40px;
    margin: 32px 0;
    @include width(100%);
    font-size: inherit;
    line-height: 22px;
    font-weight: 300;
}
table {
    margin-bottom: 25px;
    @include width(100%);
    border: 1px solid #e8e8e8;
    border-bottom: 0;
    border-right: 0;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

td, th{
	border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    padding: 5px 8px;
}

ul, ol, dl {
    margin-bottom: 25px;
}

dd {
    margin-bottom: 15px;
    margin-left: 20px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}

form{
	input{
	    border: $border-width solid $gray-300;
	    border-radius: 0;
	    @include height(60px);
	    background-color: $white;
	    color: $primary;
	    padding: 0 25px;
	    @include font-size($m-font-size);
	    background-clip: unset;

	    @media #{$media-sm} {
	    	@include height(50px);
	        padding: 0 15px;
	    }

	    @include hover-focus(){
	        box-shadow: none;
	        outline: none;
	    }

	    @include placeholder {
	        color: rgba($primary, .5);
	    }
	}
	input[type="submit"]{
		font-family: $font-family-base;
	    @include font-size($h6-font-size);
	    @include font-weight($font-weight-bold);
	    @include position(relative);
	    @include display(inline-block);
	    transition: $medium-transition;
	    padding: 0 40px;
	    border-radius: 0;
	    color: $white;
	    background-color: $primary;
	    border-color: $primary;

	    @include hover-focus() {
	    	box-shadow: none;
	    	color: $white;
		    background-color: #041e37;
		    border-color: #03172b;
	    }

	    @media #{$media-lg} {
	        padding: 0 15px;
	    }

	    @media #{$media-sm} {
	        @include height(45px);
	        line-height: 42px;
	        @include font-size($l-font-size);
	    }
	}
}
