.mtelements-testimonial-slider {
    &.testimonial-slider-style-1{

        @media #{$media-sm} {
            padding-bottom: 40px;
        }

        .gallery-slider {
            box-shadow: 13.383px 14.863px 46px 0px rgba(33, 28, 25, 0.14);
            padding: 26px;
            background-color: $white;
            @include position(relative);
            margin-bottom: $g-55;

            .before-pattern, .after-pattern {

                &::before, &::after {
                    content: '';
                    @include background('../images/testimonial-frame.png', $position:left top, $size: cover); 
                    @include height(26px);
                    @include width(26px);
                    @include position(absolute);
                    z-index: 1;
                }

                &::before {
                    left: 0;
                }
    
                &::after {
                    right: 0;
                    transform: rotate(90deg);
                }
            }
            
            .before-pattern {
                &::before, &::after {
                    top: 0;
                }
            }

            .after-pattern {
                &::before, &::after {
                    bottom: 0;
                }

                &::before {
                    transform: rotate(90deg);
                }
    
                &::after {
                    transform: rotate(0deg);
                }
            }

            .swiper-slide {

                &::before {
                    content: '';
                    @include background('../images/testimonial-gallery-shadow.png', $position:left top, $size: cover); 
                    @include width(100%);
                    @include height(100%);
                    @include position(absolute);
                    left: 0;
                    top: 0;
                    z-index: 1;
                }

                .swiper-slide-image {
                    @include width(100%);
                }
            }

            .slide-sold-image {
                @include display(block);
                @include position(absolute);
                @include width(115px);
                @include height(110px);
                bottom: -55px;
                right: -40px;
                z-index: 2;

                @media #{$media-sm}{
                    right: 0;
                }

                img {
                    @include width(100%);
                    object-fit: cover;
                }
            }
        }        

        .slider-detail {
            padding-left: $g-60;

            @media #{$media-md}{
                padding-left: 0;
            }

            .testimonial-title {
                @include font-size($h3-font-size);
                line-height: 1;
                font-family: $font-family-serif;
                margin-bottom: $g-30;
                color: $primary;
                @include font-weight($font-weight-bold);
            }

            .slide-title{
                @include font-size($h6-font-size);
                font-family: $font-family-serif;
                color: $primary;
                margin-bottom: $g-15;
            }

            .slide-content {
                p {
                    font-size: 17px;
                    color: rgba($primary, .5);
                    @include font-style(italic);
                    line-height: 1.8;
                    margin-bottom: $g-20;
                }
            }

            .slide-testimonial-wrap {
                @include display(flex);
                @include align-items(center);

                .slide-testimonial-image {
                    margin-right: 13px;

                    img {
                        border-radius: 50%;
                    }
                }

                .slide-testimonial-name {
                    @include font-size($h6-font-size);
                    font-family: $font-family-serif;
                }

                .slide-testimonial-location {
                    @include font-size($m-font-size);
                }
            }
        }

        &~.navigation-wrapper {
            @include max-width(180px);
            right: 0;

            @media #{$media-sm} {
                @include max-width(120px);
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
            }

            .mtelements-swiper-button {
                opacity: .5;
                transition: $medium-transition;

                @include hover(){
                    opacity: 1;
                }

                @media #{$media-sm} {
                    @include width(40px);
                }
            }
        }
    }
}

