.heading-style-1 {

    border-left: 1px solid $dark-yellow;
    padding-left: 100px;

    @media #{$media-md} {
        padding-left: 50px;
    }
    
    @media #{$media-sm} {
        padding-left: 15px;
    }

    h2 {
        color: $primary;
        @include font-weight($font-weight-bold);
        line-height: 1.2;
        @include font-size($h2-font-size);
        margin-bottom: 0.5rem;

        @media #{$media-sm}{
            @include font-size($h4-font-size);
        }
    }
    
    h4 {
        line-height: 1.6;
        color: $body-color !important;
        @include font-weight($font-weight-normal);

        @media #{$media-sm}{
            @include font-size($l-font-size);
        }
    }
}

// Inner Page title
.page-title-wrapper{
    background-color: $primary;
    padding-top: 215px;
    padding-bottom: 185px;
    min-height: 600px;
    // When Property Filter is in design
    &.property-advance-search{
        padding-bottom: 0;
    }

    @media #{$media-lg} {
        padding-top: 180px;
        padding-bottom: 80px;
    }

    @media #{$media-sm} {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    .heading-style-1 {
        @extend .heading-style-1;
        padding-left: 35px;

        @media #{$media-lg} {
            padding-left: 30px;
        }
        .page-title {
            color: $white;
            @include font-weight($font-weight-bold);
            @include font-size($h2-font-size);
            line-height: 1;
            margin-bottom: $g-10 * 1.5;

            @media #{$media-sm}{
                @include font-size($h4-font-size);
            }
        }
        .page-subtitle {
            color: rgba($white , .5);
            @include font-size($h5-font-size);
            line-height: 1.8;
            font-family: $font-family-serif;

            @media #{$media-sm}{
                @include font-size($m-font-size);
            }
        }
    }
}