// Override Font Family Variables
$font-family-serif:   "Playfair Display", serif;
$font-family-base:    "Karla", sans-serif;

// New Color
$dark-yellow:   #cc9668;

// Override Colors Variable
$primary:       #06315b;
$primary-dark:  #042a50;
$yellow:         $dark-yellow; 
$green:         #27865f; 
$body-color:    rgba($primary, .7);
$gray-200:      #f2f4f7;
$gray-300:      #e4dad2;
$gray-600:      #8b9fb2;

$white: #fff;


// Override Bootstrap Font Size Variables
//$h1-font-size:  $font-size-base * 2.5 !default;
$h2-font-size:      60px;
$h3-font-size:      48px;
$h4-font-size:      30px;
$h5-font-size:      24px;
$h6-font-size:      20px;
$xl-font-size:      22px;
$l-font-size:       18px;
$m-font-size:       16px;
$s-font-size:       14px;
$xs-font-size:      12px;

$display1-size:     90px;
$display2-size:     70px;
$display3-size:     60px;
$display4-size:     42px;


// For Basic Transations
$basic-transition:    all ease 0.5s;
$medium-transition:   all ease 0.3s;

// For Container Size
$container-max-widths: (
  sm: 1230px,
  md: 1230px,
  lg: 900px,
  xl: 1230px
);

// Grid Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1025px,
  xl: 1200px
);

// For Elementor Container Size
$elementor-container:   1200px;

// For gap
$g-0:   0px;
$g-10:  10px;
$g-15:  15px;
$g-20:  20px;
$g-25:  25px;
$g-30:  30px;
$g-50:  50px;
$g-55:  55px;
$g-60:  60px;

// Media Queries
$media-xl: 'screen and (max-width: 1499px)';
$media-lg: 'screen and (max-width: 1199px)';
$media-md: 'screen and (max-width: 1024px)';
$media-sm: 'screen and (max-width: 767px)';
$media-xs: 'screen and (max-width: 575px)';