@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icomoon.eot?s1sjr6');
  src:  url('../../assets/fonts/icomoon.eot?s1sjr6#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon.ttf?s1sjr6') format('truetype'),
    url('../../assets/fonts/icomoon.woff?s1sjr6') format('woff'),
    url('../../assets/fonts/icomoon.svg?s1sjr6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e902";
}
.icon-call:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
