/* my account login page */
.woocommerce form .radio input[type="radio"] {
	margin-left: 0
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget .widget-title {
	font-weight: 500;
	color: #232323;
	padding-top: 0;
	border-bottom: 2px solid #232323;
	margin-bottom: 25px;
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget {
	padding: 25px
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.sells-graph {
	padding-bottom: 25px
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter li:last-child .count {
	border-bottom: none
}

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active,
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover,
.dokan-dashboard button.dokan-btn,
.dokan-dashboard input[type="submit"].dokan-btn,
.dokan-dashboard button.dokan-btn {
	background: #f57250
}

.dokan-dashboard button.dokan-btn,
.dokan-dashboard input[type="submit"].dokan-btn,
.dokan-dashboard button.dokan-btn {
	border-radius: 0;
	border: 1px solid #f57250;
	text-transform: uppercase
}

.dokan-dashboard button.dokan-btn:hover,
.dokan-dashboard input[type="submit"].dokan-btn:hover,
.dokan-dashboard button.dokan-btn:hover {
	background: #232323;
	border: 1px solid #232323
}

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget .widget-title i {
	color: #232323
}

.dokan-dashboard-wrap .chart-container table {
	width: inherit
}

.dokan-dashboard-wrap .chart-container td {
	border-bottom: none
}

.dokan-product-listing .dokan-product-listing-area table td img {
	max-height: none
}

form.dokan-form-inline .dokan-table>thead>tr>th {
	font-weight: 600;
	color: #232323;
	border-bottom: 2px solid #232323
}

form.dokan-form-inline .dokan-table>thead>tr>th:nth-child(3) {
	width: 110px
}

form.dokan-form-inline .dokan-table input[type="checkbox"] {
	margin: 0
}

.dokan-product-listing .dokan-product-listing-area table.product-listing-table td,
.dokan-table>tbody>tr>td {
	vertical-align: middle;
}

.dokan-product-listing .dokan-product-listing-area table.product-listing-table td.diviader {
	background: #fff;
	border: none;
}

.dokan-theme-hongo .select2-container {
	text-transform: initial
}

.dokan-dashboard .pagination-wrap {
	text-align: center
}

.pagination .page-numbers {
	border-radius: 100% !important
}

.dokan-product-listing .dokan-product-listing-area table.product-listing-table mark.instock,
.dokan-product-listing .dokan-product-listing-area table.product-listing-table mark.outofstock {
	font-weight: 600
}

.dokan-product-listing .dokan-product-listing-area table.product-listing-table mark.outofstock {
	background: transparent;
	color: #f34a53
}

.pagination-wrap ul.pagination>li>a,
.pagination-wrap ul.pagination>li>span {
	padding: 0;
	line-height: 26px;
	color: #6f6f6f;
	margin-left: 4px
}

.pagination-wrap ul.pagination>li>span.current {
	background-color: #232323;
	border-color: #232323;
	color: #fff
}

.pagination-wrap ul.pagination>li>a.prev,
.pagination-wrap ul.pagination>li>a.next {
	width: auto;
	background: transparent;
	border: 0;
	margin-left: 10px;
	margin-right: 10px;
}